[2019-07-03 06:18] koltyakov commented on #757
No offenses, it's a pain reading not formatted code samples. Please also try generalizing the code, nobody interested in reading chunks of not related jQuery-ish stuff. [Please!](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting)

Regards the caching recommendation, you ignored it and did exactly the same what before and therefore ended up with the same

[2019-07-03 06:21] SukumarMS commented on #757
Apologies Koltyakov. Will ensure i will format the code from hereafter. Let me try retry with your solution.

[2019-07-03 06:46] SukumarMS commented on #757
Tried this, but still facing issue internal server error.
I would really appreciate if you can provide code snippet. Between we can't use async await because we need to support IE

[m/_api/web/getFolderByServerRelativeUrl('/ImageGallery/')/files/add(overwrite=true,url='155-voxu4ia4y.pngWed%20Jul%2003%202019%2012:06:04%20GMT+0530%20(India%20Standard%20Time)')](url)

Code
`

fileName = ddlVideoAlbum

[2019-07-03 07:10] koltyakov commented on #757
The URL above is a result of something else but not a sample below. As a date section is in the wrong format and in another place and another method. I don't want to turn the question to the general development topic and it's already become an offtopic for PnPjs-related things.

The answer still the [same](https://github.com/pnp/pnpjs/issues/757#issuecomment-507800829) or [paraphrased one](https:/

[2019-07-03 08:23] narulasrinivas commented on #755
Hi Community....Did anybody tried to use this code?. If so, can anybody help me to resolve this issue?

[2019-07-03 12:25] SimSpfx opened #758 "getItems - getAll() - missing field values"
### Category
- [ ] Enhancement
- [? ] Bug
- [x ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [    latest    ]

Please specify what version(s) of SharePoint you are targeting: [    online     ]

### Expected / Desired Behavior / Question
All selected field values returned. I am missing values of 1 plain text fields. They are selecte

[2019-07-03 12:56] #758 closed

[2019-07-04 08:40] JonasBjerke89 commented on #669
Hey @patrick-rodgers

Can you sort this out for me? I would very much like to get going and contribute to this ;-)

[2019-07-04 11:36] KEMiCZA commented on #755
@narulasrinivas  can you try:

[code]

[2019-07-05 06:34] tarundhillon opened #760 "SharePoint Authentication - Client side | AWS Cognito - Azure AD"
### Category
- [ ] Enhancement
- [ ] Bug
- [ x] Question
- [ ] Documentation gap/issue

Hello,

I have a web app hosted on AWS which authenticates via AWS Cognito -- SAML - Azure AD, the authentication process gives me access_token and id_token which I believe are issued by AWS Cognito through Azure AD. I am able to exchange these tokens to get AWS credentials and access AWS resources, but  some o

[2019-07-05 07:11] koltyakov commented on #760
I don't think the existing token clients will work with this schema, but I might be wrong.

My inner feeling on how this should work:

- AWS Cognito to Azure AD should be configured [such way](https://medium.com/@zippicoder/setup-aws-cognito-user-pool-with-an-azure-ad-identity-provider-to-perform-single-sign-on-sso-7ff5aa36fc2a)
- Azure AD is configured with App Registration, App Registration's pe

[2019-07-05 09:00] narulasrinivas commented on #755
@KEMiCZA - It worked perfectly. Thanks alot for helping me out.

@patrick-rodgers - Whether working code will be updated in pnpjs v1 or directly in pnpjs v2?

I'm happy to give a hand to update in either of them.

[2019-07-05 09:16] TomBombardil opened #761 "disable Logger"
### Category
- [ ] Enhancement
- [ ] Bug
- [x ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [    1.3.3     ]

Please specify what version(s) of SharePoint you are targeting: [    SP2016     ]

### Expected / Desired Behavior / Question
How to disable logging output to console when executing requests

### Observed Behavior
pnp keeps

[2019-07-05 09:37] KEMiCZA commented on #761
How are you logging, are you still using console.log or Logger.write?

[2019-07-05 09:42] TomBombardil commented on #761
I am using console.log.
My problem however is that pnp is logging excessivly to console, which makes it hard to find my own logging entries.
I want to disable pnp from logging to console.

[2019-07-05 12:16] KEMiCZA commented on #761
I tried reproducing this issue, but it works fine for me.
Can you share more of your code?

[2019-07-05 13:00] patrick-rodgers commented on #761
Unless you are explicitly subscribing a logger in your application I am not sure how we would be logging anything. As requested by @KEMiCZA can you provide a minimal reproduction we can clone and examine?

[2019-07-05 13:02] patrick-rodgers commented on #757
Going to close this as answered. Thanks @koltyakov

[2019-07-05 13:02] #757 closed

[2019-07-05 13:05] patrick-rodgers commented on #755
I think honestly this is a bug in the graph types as it doesn't make much sense looking at their d.ts file. We should change our typing to any for this, or a TypedHash<any>. This should be fixed in v1 and v2. If you want to submit a PR that would be much appreciated for sure.

[2019-07-05 14:42] patrick-rodgers commented on #740
@praveenbattula - can you have a look at my commends in PR #741. Just getting a chance to circle back on some of these things and not understanding fully the use case here. The delay in creating groups is a known thing and not something we can "fix" as such in this library. We could merge the PR to add the code to wait for the site, but if it does take 20 minutes I am not sure what practical value

[2019-07-08 07:28] TomBombardil commented on #761
Hello again

Very sorry for having bothered you with this issue. It seems the logging originates from the sp.requestexecutor.js

That's what they basically look like:
[code]

I tried copying the file SP.RequestExecutor.js into the app and disabling the logging function - but somehow it gets pulled again from the hive (_layouts/15/).

I understand this has nothing to do with pnpjs - however if you

[2019-07-08 07:52] KEMiCZA commented on #761
Why do you want to remove those messages anyway?

If you want to be more specific with your own console logs, there are some tricks out there. For example you could group your logs. You could also do a console.clear() before doing your own logging.

A quick google search: https://medium.com/appsflyer/10-tips-for-javascript-debugging-like-a-pro-with-console-7140027eb5f6

The following stackoverflow

[2019-07-08 08:04] TomBombardil commented on #761
Thanks for the input!

[2019-07-08 08:04] #761 closed

[2019-07-08 08:23] cjnanamurthy commented on #197
is there any way to move backward to collection ??

[2019-07-08 08:26] cjnanamurthy opened #762 "is there any way to move backwards to collection ??"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2019-07-08 08:31] koltyakov commented on #197
REST API doesn't provide previous page pagination token, but the one can be implemented by your own, e.g. [getPrev](https://github.com/pnp/pnpjs/issues/440#issuecomment-450115251).

Another approach is keeping previous pages tokens in the application memory.

[2019-07-08 08:33] koltyakov commented on #762
REST API doesn't provide previous page pagination token, but the one can be implemented by your own, e.g. [getPrev](https://github.com/pnp/pnpjs/issues/440#issuecomment-450115251).

Another approach is keeping previous pages tokens or page collections in the application memory.

[2019-07-08 08:37] cjnanamurthy commented on #762
Thanks for the info and solution.

[2019-07-08 08:37] #762 closed

[2019-07-08 13:10] ralphtheninja commented on #726
Any chance of actually _releasing_ this bug fix?

[2019-07-08 14:55] tarundhillon commented on #760
Thanks Andrew ! I can confirm the same token doesn't work, the token is issues by Cognito. Able to complete 1,2 and 3 but struggling with step 4 seems like some permission errors

I am using ADAL through an angular package with the below configuration
[code]

I am able to fetch the token but facing issues to access sharepoint with the below snippet

[code]

I am getting  **401 Unauthorized** but i

[2019-07-08 16:09] patrick-rodgers commented on #669
Sorry, just saw this. Tests should now be in the root test folder. The other folder is old and will be deleted, but we haven't yet so folks can grab the old code easily. The views work was in the wrong spot and was moved when it was merged. The coverage data should 100% be ignored for now or used as a guide as you are writing tests. I don't currently find it super accurate so we might remove it ev

[2019-07-08 17:51] #730 closed

[2019-07-08 17:52] patrick-rodgers commented on #730
Got this updated, new docs will publish with the next release on Friday July 12

[2019-07-08 18:29] #755 closed

[2019-07-08 18:29] patrick-rodgers commented on #755
Fixed this in v1 branch, will go out as part of the Friday July 12 release.

[2019-07-08 20:46] #735 closed

[2019-07-08 20:48] patrick-rodgers commented on #735
Wowsers, that was a pain to debug. Thank you for the detailed write-up, wouldn't have been able to work though it otherwise. Got a fix merged for this and it will be part of the next release on July 12 Friday. Thank you again for submitting such detail, really appreciated on my side 😀👍

[2019-07-08 22:35] wimosh opened #766 "Unable to Add Custom roleDefinition"
### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version
   "@microsoft/sp-core-library": "1.8.2",
    "@microsoft/sp-lodash-subset": "1.8.2",
    "@microsoft/sp-office-ui-fabric-core": "1.8.2",
    "@microsoft/sp-property-pane": "1.8.2",
    "@microsoft/sp-webpart-base": "1.8.2",
     "@pnp/sp": "^1.3.3

### Expected / Desired Behavior / Question
After ca

[2019-07-09 00:47] patrick-rodgers commented on #593
Hi @MijoBarbaric - sorry for the delay in getting back to this one.

In my tenant I now see the urls come back with the 443 appended to the url, but I seem to be getting the right data. I didn't see that before so a change must have rolled out. Are you seeing different data depending on if the port is there or not?

Or is the issue that you then want to do stuff with those sites? I seem to get the

[2019-07-09 00:48] patrick-rodgers commented on #761
All good @TomBombardil , thanks!

[2019-07-09 06:04] JonasBjerke89 commented on #669
Thanks @patrick-rodgers!

What about the TypeError when running "npm test" - is that to be ignored as well as the coverage?
The steps to reproduce:

- Fork
- Clone
- npm install -> npm test (without any modifications)

My experience is about 3 weeks old now, maybe I've got a faulty repo cloned at that time?

[2019-07-09 13:35] patrick-rodgers commented on #669
Yes, please do a pull to get the latest changes as I don't see that anymore. Plus a good amount of new stuff has been merged since so good idea to refresh before you start. Thanks!

[2019-07-09 13:54] ioan-agopian opened #767 "how to use getPaged with entity merging"
### Category
- [ ] Enhancement
- [ ] Bug
- [ x] Question
- [x ] Documentation gap/issue

### Version
    "@pnp/common": "^1.3.3",
    "@pnp/logging": "^1.3.3",
    "@pnp/odata": "^1.3.3",
    "@pnp/sp": "^1.3.3",

### Expected / Desired Behavior / Question
I am trying to use entity merging (https://pnp.github.io/pnpjs/sp/docs/entity-merging/) with getPaged.

I have the following code:
[code]

The

[2019-07-09 14:14] patrick-rodgers commented on #766
Well that is odd, I swear at one point we changed this from string to number to fix a different parsing issue. I have updated the code for both add and update without changing the interface. So you can still pass numbers and they get converted to strings. The other way would be a breaking change to the interface, which I'd like to avoid. Thanks for reporting this. Fix will be part of the release t

[2019-07-09 14:16] #766 closed

[2019-07-09 14:26] patrick-rodgers commented on #723
Hi @johannes-z - finally have time to look back on some issues. For this, why can;t you include those fields in the overrideParameters? Something like:

[code]

[2019-07-09 14:29] patrick-rodgers commented on #719
Going to close this as answered, thanks!

[2019-07-09 14:29] #719 closed

[2019-07-09 14:31] patrick-rodgers commented on #407
Going to close this one as we don't have plans to implement this functionality as it exists through the ability to add/update items. If someone wants to submit a PR adding this capability to the config store we'll take a look at merging it. Thanks!

[2019-07-09 14:31] #407 closed

[2019-07-09 14:34] patrick-rodgers commented on #605
Going to close this as it doesn't appear to be an issue with the library. If there is still an issue here I missed please open a new issue and reference this one explaining what is not working and we can take a look. Thanks!

[2019-07-09 14:34] #605 closed

[2019-07-09 14:52] #609 closed

[2019-07-09 14:56] patrick-rodgers commented on #609
Added this, will be part of next release on Friday July 12

[2019-07-09 14:56] patrick-rodgers commented on #616
Going to close this as answered. If you are still having issues here please open a new issue and reference this one. Thanks!

[2019-07-09 14:56] #616 closed

[2019-07-09 15:01] patrick-rodgers commented on #613
Going to close this as we have no plans to implement this as mentioned above. I understand your position that the library should contain everything possible, but work/value isn't there for me on this one. If someone would like to submit a PR we'll take a look at merging it. I would suggest at this point that if someone does want to do the work to please target the dev-v2 branch. Thanks!

[2019-07-09 15:01] #613 closed

[2019-07-09 15:14] #619 closed

[2019-07-09 15:15] patrick-rodgers commented on #619
Updated the code to ensure that the same shared fetch method is used by sptokenutils. As I don't have a ready way to test this I can't confirm this will fix the reported issue. Will be part of the release on July 12.

[2019-07-09 15:27] #621 closed

[2019-07-09 15:28] patrick-rodgers commented on #731
Closing this issue, fix will be release Friday July 12 as part of 1.3.4. Thanks!

[2019-07-09 15:28] #731 closed

[2019-07-09 15:38] patrick-rodgers commented on #767
Well, great question. We don't currently have support for that. Let me have a look at what it will take and maybe get it into the Friday release (July 12).

[2019-07-09 20:51] #767 closed

[2019-07-09 20:51] patrick-rodgers commented on #767
Had a chance to add this, will be in 1.3.4 on Friday. You can see the [docs here](https://github.com/pnp/pnpjs/blob/dev/packages/sp/docs/entity-merging.md#use-with-item-getpaged)

[2019-07-09 20:56] wmertens opened #772 "Cannot alias name with embedded apostrophe"
### Category
- [x] Bug

### Version

Please specify what version of the library you are using: [    1.3.2     ]

Please specify what version(s) of SharePoint you are targeting: [   no idea      ]

*If you are not using the latest release, please update and see if the issue is resolved before submitting an issue.*

The changelog for 1.3.3 does not include anything that might fix this

### Expected

[2019-07-10 07:32] johannes-z commented on #723
@patrick-rodgers Hm I'm pretty sure I tried this before but I got an error from sharepoint, saying that this key/value pair wasn't allowed in the overrideParameters, but it works now (using version 1.3.3 instead of 1.3.2). I'll close this for now, and open it in case I come across the error again.

[2019-07-10 07:32] #723 closed

[2019-07-10 09:11] wmertens commented on #772
I came up with this workaround which probably won't work in v2

[code]

[2019-07-10 18:59] igarcia7 opened #774 "Cannot use FieldcreationProperties to add multiple selections in a personandgroup column"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2019-07-11 12:18] JaeEmAre67 opened #775 "Document"
### Category
- [ ] Enhancement
- [X] Bug
- [X] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [ 1.2.8  ]

Please specify what version(s) of SharePoint you are targeting: [ SharePoint Online ]

*If you are not using the latest release, please update and see if the issue is resolved before submitting an issue.* Updated to 1.3.2-0 with s

[2019-07-11 12:25] JonasBjerke89 commented on #669
Sure! Did a git pull upstream dev-v2 and can see a whole lot of changes! :-)

Unfurtunately, npm test still gives me an error - this time a different one:
![image](https://user-images.githubusercontent.com/21952399/61050487-62b03a00-a3e7-11e9-80f1-f1703e44534c.png)

'pnp-test-site' is empty. Do I need to specify a site url somewhere when running npm test?

[2019-07-11 12:37] koltyakov commented on #775
Doesn't look like any sort of a bug in PnPjs but a REST API and SharePoint behavior. Therefore nothing to change on our end to amend this.
You can try the library setting to "Require Check Out" so the document after the initial upload is checked out, then update with mandatory fields and checking should work.

[2019-07-11 12:44] JonasBjerke89 commented on #669
Oh, I think I got it now (settings.example.js)

I will continue and get back to you, if I stumble onto more questions along the way :)

[2019-07-11 13:36] JakeStanger opened #777 "Using Graph beta endpoint"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.3]

Please specify what version(s) of SharePoint you are targeting: [Online, SPFx 1.8.2]

### Expected / Desired Behavior / Question

Is it current possible to use PnP Graph to perform requests on the beta Graph endpoints? If not, what i

[2019-07-11 20:10] enti333 opened #778 "Get EMail from UserField which has multiple selections"
- [ ] Enhancement
- [ X] Bug
- [ ] Question
- [ ] Documentation gap/issue

Hello. When my user field has multiple selections enabled I am not able to get EMail data for these users. I ame able to get Title or ID but not EMail....

`sp.web.lists.getByTitle(encodeURIComponent('XXXX')).items.filter("xxxxx eq '" + this.state.recipientDepartament + "'").select("kontakt_person/EMail").expand("kontakt_pe

[2019-07-11 20:18] koltyakov commented on #778
What the error message? SharePoint version?

Is unlikely an error in PnPjs but environment/artefacts/SP version.

And the scenario works for me in SPO, btw:

![image](https://user-images.githubusercontent.com/7816483/61082379-07f00000-a432-11e9-9b07-d87c003c0f66.png)

[2019-07-11 20:26] enti333 commented on #778
Hello. The error is

Uncaught (in promise) Error: Error making HttpClient request in queryable [500]  ::> {"odata.error":{"code":"-2146232832, Microsoft.SharePoint.SPException","message":{"lang":"en-US","value":"Cannot get value for projected field kontakt_person_x005f_EMail."}}}

Thank you... I have tested it again when this field is not Multiple it works if it is multiple it doesn't but only for

[2019-07-11 20:30] enti333 commented on #778
I think that I found the problem is I have in this field user which doesn't have email account

This user doesn't have an Exchange Online license.

and it doesn't work....But question is ...is this OK that it ends with error? Thank you

[2019-07-11 20:31] koltyakov commented on #778
These cases with HTTP 500/other StatusCodes is a server API response, 100% non-library.

[2019-07-11 20:34] enti333 commented on #778
Hmm....But my test user doesn't have email account...When field is not set for multiple it works and in EMail property I have null....But When I enable Multiple it ends with this error.... So Again it is OK that it doesn't have null but ends with error...Thank you

[2019-07-11 20:39] koltyakov commented on #778
It's not ok, IMO, but it is current SharePoint API behavior, and I think I faced the same too yet it was not critical in my case. Unfortunetely nothing can be changed in the library to fix server side of the REST API as PnPjs is a client.

[2019-07-11 20:47] enti333 commented on #778
Thank Andrew for you help:)

[2019-07-11 20:47] #778 closed

[2019-07-12 12:22] patrick-rodgers commented on #777
There is a [protected method "setEndpoint"](https://github.com/pnp/pnpjs/blob/dev/packages/graph/src/graphqueryable.ts#L125) you can use if you cast the object to "any":

[code]

That isn't optimal so for this release I will make that method public. That will go out today.

[2019-07-12 12:26] #777 closed

[2019-07-12 12:32] JakeStanger commented on #777
Brilliant, amazing service!

[2019-07-12 12:44] patrick-rodgers commented on #774
You can already do this. The interface extends TypedHash so you can add any props you need:

[code]

[2019-07-12 12:49] patrick-rodgers commented on #705
Please [review the example](#682) @koltyakov provided, it answers your question.

[2019-07-12 12:49] #705 closed

[2019-07-12 13:45] patrick-rodgers commented on #772
I understand your focus on parameter aliases based on the other issues and comments you've made, but this is overall an edge case. Will take a look at resolving this for the next release, but don't want to rush something in that might end up breaking more than it fixes. Also, it appears you have a workaround that while not ideal unblocks your scenario so waiting and applying the right fix is the b

[2019-07-12 14:51] patrick-rodgers commented on #693
This went out as part of 1.3.4 released today, July 12. Closing this issue as complete.

[2019-07-12 14:51] #693 closed

[2019-07-12 14:58] jbarshaw opened #780 "UnifiedGroupWelcomeMessageEnabled and HiddenFromExchangeClientsEnabled Missing"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2019-07-12 15:06] patrick-rodgers opened #781 "Add Graph tracking header"
### Category
- [X] Enhancement
- [ ] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [latest]

Please specify what version(s) of SharePoint you are targeting: [SPO]

### Expected / Desired Behavior / Question

Add graph tracking [header as outlined here](https://github.com/microsoftgraph/msgraph-sdk-design/blob/master/middlew

[2019-07-13 20:35] russgove commented on #661
Hi, I can work on this.

[2019-07-14 04:21] PopWarner commented on #661
Awesome!!! Thank you @russgove! Status has been changed to "in progress" and is all ready for ya. :)

The Readme for dev-v2 has also been updated to include a link to the recording of the contributors call, which can help provide additional guidance. Worth watching if you were unable to attend or have not yet seen it:
https://github.com/pnp/pnpjs/blob/dev-v2/README.md

Thank you again!

[2019-07-14 18:39] gbminnock opened #782 "SharePoint Alerts via sp rest"
- [ ] Question

### Version

Please specify what version of the library you are using: [     1.3.3    ]

Please specify what version(s) of SharePoint you are targeting: [       Online  ]

Is it possible to add alerts using pnp/sp. The alerts I want to add are referenced using
~/_api/web/alerts
and adding alert at
~/api/web/alerts/add with an accompanying json body.

I tried this out using SPHttpCl

[2019-07-15 07:24] pavan2920 opened #783 "Unable to add client side wepbart after updating version."
Hi Team,

I have recently updated version for "@pnp/sp": "1.3.2".
Now when my code is trying to add webpart in cliendside page it accepts only one parameter of type : IClientSideWebPartData

Trying to give the markup as its in interface. The webpart is getting added but throws error saying something went wrong.

Can any one help me identifying if something i am missing here.

![image](https://user

[2019-07-15 13:16] JonasBjerke89 commented on #671
Please sign me up for this one, if help is still needed :)

[2019-07-15 13:23] JonasBjerke89 commented on #674
I could grap this one, too. Please sign me up :-)

[2019-07-16 07:22] wmertens opened #785 "SP folder add: use addUsingPath?"
### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [  latest       ]

Please specify what version(s) of SharePoint you are targeting: [  no idea       ]

### Expected / Desired Behavior / Question

As you know, I want to be able to handle all filenames that sharepoint can handle.

I just disc

[2019-07-16 11:35] KEMiCZA commented on #625
Hi, I would like to complete this one.

[2019-07-16 13:28] PopWarner commented on #674
Very cool! Thank you @JonasBjerke89! The status has been updated to "in progress" and is ready for you.

The Readme for dev-v2 has also been updated to include a link to the recording of the contributors call, which can help provide additional guidance. Worth watching if you were unable to attend or have not yet seen it:
https://github.com/pnp/pnpjs/blob/dev-v2/README.md

Thank you again!

[2019-07-16 13:29] PopWarner commented on #625
Thank you @KEMiCZA! You are awesome! The status has been updated to "in progress" and is all ready for you.

The Readme for dev-v2 has also been updated to include a link to the recording of the contributors call, which can help provide additional guidance. Worth watching if you were unable to attend or have not yet seen it:
https://github.com/pnp/pnpjs/blob/dev-v2/README.md

Thank you again!

[2019-07-16 18:28] russgove commented on #661
So whats everyone doing for tests. I need a  site a user a list and a list item in order to test security.
Can we make any assumptions about the environment the test is running in? Will there be a 'Shared Documents' library?

Seems like everyone will need some setup work like this. Might be helpful if we could define some standard test environment, maybe gets deployed via a script so that we can s

[2019-07-17 06:52] qrown commented on #737
We have been seeing the same behavior in IE 11 where all query string parameters are removed, although only by using the ".select" and ".expand" commands.

Our scenario is primarily happening on Document Library pages where our Spfx Application Customizer runs.

We also tried updating to the newest packages (see below), but it did not solve the issue.

[code]

[2019-07-17 09:38] sbrown-fc commented on #619
Thanks @patrick-rodgers; I can confirm the fix has resolved our issue.

[2019-07-17 09:51] BirudVora opened #786 "PDF Blob is returned as octet-stream which I can't convert to Base64."
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.4]

Please specify what version(s) of SharePoint you are targeting: [SharePoint Online 2016]

Question:

I want to read a PDF file saved in SharePoint Online using getFileByServerRelativeUrl('').getBlob(). The code works fine but it retu

[2019-07-17 10:19] in8aakbh opened #787 "Modern Site Page banner not visible or editable"
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior
The page banner should be visible with the Title, Text above title when it is successfully updated at the time of provisioning using pnpjs code.

#### Observed Behavior
The properties for PageTitle banner part is successfully updated and visible in the page maintenance mode but it doe

[2019-07-17 12:07] JonasBjerke89 commented on #674
Hi @PopWarner

I have been working on this and a few obstacles came along:
1. The current implementation of the "import" method gives me an empty SP.WebParts.WebPartDefinition and a HTTP 200 in return (JSOM API). The ID of the returned webpart definition is an empty guid. This seems wrong to me.
2. Secondly, we cannot automate tests of the "export" method because the "addWebPart" method is not imp

[2019-07-17 14:11] gautamdsheth opened #788 "PnPJS "partially" doesnt work in SPFx extension when used via external CDN reference"
### Category
- [ ] Enhancement
- [x] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.4]

Please specify what version(s) of SharePoint you are targeting: [SPO]

### Expected / Desired Behavior / Question

PnP JS should work when used as external CDN reference in an SPFx extension project.

I am not 100% sure if its PnPJS

[2019-07-17 16:34] KEMiCZA commented on #625
@patrick-rodgers test on v2 branch failed for web: https://github.com/pnp/pnpjs/blob/dev-v2/test/sp/web.ts

[2019-07-17 21:18] russgove commented on #661
In the documentation, what approach is everyone else taking for code snippets. I think, ideally, the code snippets should be able to be pasted into a VSCode window and executed.   The existing samples I see lack the required startup code.

It would be nice if all the samples be set so that they could be pasted into debug\launch\sp.ts and then run via f5 debugging.

[2019-07-18 08:54] JonasBjerke89 commented on #671
I have been working on this, but writing test-cases for "UserCustomActions.add" and "UserCustomAction.update" is problematic because of the "NoScript" flag enabled on modern sites.

Is there a way for us to make testcases with an **classic site underneath** or should we skip writing test-cases for those two methods? Or do you see another option?

[2019-07-18 16:26] ArndBrugman opened #790 "@pnp/graph missing me/manager where me/directReports is supported"
The graph (https://developer.microsoft.com/en-us/graph/graph-explorer) supports calls for getting the current users' manager (https://graph.microsoft.com/v1.0/me/manager) and directReports (https://graph.microsoft.com/v1.0/me/directReports).

When using the graph from @pnp there is a call available to get directReports (await graph.me.directReports.get();) but it lacks support for getting manager

[2019-07-19 09:02] cwdata opened #791 "Taxonomy not working in batch"
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version
Library Version: 1.3.3
Targeting: SharePoint online

### Expected / Desired Behavior / Question
Requests to taxonomy should work with batching

### Observed Behavior
Accessing the taxonomy without batching works:
[code]

After adding the same request to a batch it errors out ("Invalid Request"):
[cod

[2019-07-19 10:54] omega1119 opened #792 "Argument of type '{ spfxContext: ListViewCommandSetContext; }' is not assignable to parameter of type 'SPConfiguration'."
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.4]

Please specify what version(s) of SharePoint you are targeting: [Online]

Hi there,

I've created a ListView Command Extension using this guide

https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/get-started/building-sim

[2019-07-19 11:09] koltyakov commented on #792
Looks that in your case `sp.setup` is used in the wrong place and `this.context` is not spfxContext (`SPConfiguration`) but `ListViewCommandSetContext`.
This is not a bug in the library but a wrong initiation. Please follow the documentation notes https://pnp.github.io/pnpjs/documentation/getting-started/#using-pnpsp-setup
Also can recommend taking a look at community samples, e.g. [this one](http

[2019-07-19 11:17] omega1119 commented on #792
Hi @koltyakov,

thanks for the reply. Apologies I should have been more specific, my onInit looks like this:

public onInit(): Promise<void> {
    console.log("Loading onInit");
    return super.onInit().then(_ => {
      sp.setup({
        spfxContext: this.context
      });
    });
  }

I've followed these examples on other projects but haven't had a problem like this before. Although I was usin

[2019-07-19 11:24] koltyakov commented on #792
Could you please post a repository with minimal configuration setup which you use for us to clone and try to reproduce the behavior? Thanks, this can save a lot of time on recreating the issue.

[2019-07-19 12:03] omega1119 commented on #792
I deleted my node_modules but also included

"@pnp/common": "^1.3.4",
    "@pnp/logging": "^1.3.4",
    "@pnp/odata": "^1.3.4",

in my package.json and the issue has stopped when I reinstalled the packages. I had only installed "@pnp/sp": "^1.3.4", initially.

[2019-07-21 12:48] wills01 opened #793 "Search PrimaryQueryResults and SecondaryQueryResults"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2019-07-21 15:15] koltyakov commented on #793
That’s how search API works, not on PnPjs’s side.

[2019-07-22 04:14] nateforsyth commented on #717
Hi all, I thought I'd update this since we're still seeing this issue and it's been two months. We've specifically attempted the *API Web initiator* in this instance as mentioned by @koltyakov but we're still seeing the same behaviour.

This time it's occurring on a much simpler end-point (note below; 2x `[tenantName].sharepoint.com`).

`https://[tenantName].sharepoint.com/[tenantName].sharepoint.

[2019-07-22 07:35] wills01 commented on #793
Ok i get that, but surely the SecondaryQueryResults should still be defined as an array of ResultTableCollection, this is in PNPJs side.

[2019-07-22 07:50] koltyakov commented on #793
Thanks, @wills01!

Agreed, `SecondaryQueryResults`'s interface should not be a `ResultTableCollection` but an array of `ResultTableCollection`, that's the gap.

[2019-07-22 17:01] koltyakov commented on #717
@nateforsyth,

It'd happened is a web URL was provided without protocol:

[code]

with full absolute URL, it can't such transformation. Must be `new Web('https://contoso.sharepoint.com/sites/site')`.

[2019-07-22 18:58] patrick-rodgers commented on #782
We don't have that endpoint included yet. If it is exposed via REST we should be able to add it. Will tag this as an enhancement.

[2019-07-22 19:01] patrick-rodgers commented on #783
Can you share the error and also a repo where we can clone and reproduce this issue? Also, please have a [look at the docs](https://pnp.github.io/pnpjs/sp/docs/client-side-pages/#add-client-side-web-parts), generally when adding a web part you will want to start from the definition.

[2019-07-22 19:05] patrick-rodgers commented on #785
It can be added, we target SPO.

[2019-07-22 19:06] patrick-rodgers commented on #786
Are you working in node or a browser?

[2019-07-22 19:07] patrick-rodgers commented on #787
Can you share the code you are using to create the page and ideally repo steps? Thanks.

[2019-07-22 19:12] patrick-rodgers commented on #791
I think you need to use the batch from the correct library. The sp batch and taxonomy batch objects are not identical. Try this:

[code]

[2019-07-22 19:14] patrick-rodgers commented on #792
Thanks @omega1119  and @koltyakov , looks like this is resolved. Will close. If you encounter this again, please open a new issue and reference this one. Thanks.

[2019-07-22 19:14] #792 closed

[2019-07-22 20:55] wmertens commented on #785
How about trying it once, and if it fails with 500 set a flag and use the old way? It seems that `/add` is buggy, no?

[2019-07-23 05:01] nateforsyth commented on #717
Thanks for the replies guys.

We were already passing in a fully qualified hard coded string as @koltyakov suggested, but it did make me think of something else; I did end up finding a legacy token replacement that was replacing the first "/" within the URL with "", which ended up making the protocol https:**/** instead of https:**//**:

Fixing that fixed the problem.

Cheers

[2019-07-23 05:01] #717 closed

[2019-07-23 06:35] in8aakbh commented on #787
Just figured out the problem.

The issue was occurring when I was updating the banner properties using above mentioned JSON with blank imageSource value (**"imageSources": { "imageSource": "" }**). Even though this was working before it has stopped working now.

To fix this I specify a default imageSource URL as '**/_LAYOUTS/IMAGES/SLEEKTEMPLATEIMAGETILE.JPG**' (this URL is the default one used fo

[2019-07-23 06:35] #787 closed

[2019-07-23 06:44] BirudVora commented on #786
Thank you Patrick for looking into this.

Browser. We are using this code in building SharePoint Web Part running in Chrome or Firefox browsers.

[2019-07-23 10:45] cwdata commented on #791
Wow great, thanks @patrick-rodgers !
I didn't know that there's a separate batch object for taxonomy. It works perfectly using the correct one.

[2019-07-23 10:45] #791 closed

[2019-07-23 12:40] patrick-rodgers commented on #786
An internet search [offers this option](https://www.reddit.com/r/learnjavascript/comments/4povjv/converting_octetstream_to_base64/) as one of the first results, you can give it a try.

[2019-07-23 13:23] patrick-rodgers commented on #669
Yes you need to setup the settings file. We have [some docs on that here](https://pnp.github.io/pnpjs/documentation/debugging/#setup-settingsjs), but of course it could be better.

[2019-07-23 16:42] JonasBjerke89 commented on #669
Yup, I think I got it 💪 PR is ready.

[2019-07-23 17:47] ncmadhan1989 opened #795 "Unable to update file metadata using Chunked Method"
Unable to update file metadata using Chunked Method

web.getFolderByServerRelativeUrl("/sites/dev/Shared%20Documents/test/").files.addChunked(file.name, file, data => {

            Logger.log({ data: data, level: LogLevel.Verbose, message: "progress" });

        }, true).then(_ => Logger.write("done!"));

i.e.
f.file.getItem().then(item => {

    item.update({
        Title: "A Title",
        O

[2019-07-23 17:49] ncmadhan1989 opened #796 "Create list item across site collection"
Need to create list items in List present in different site collection using pnp js

$.ajax({
url: otherSiteUrl + "/_api/contextinfo",
type: "POST",
headers: {
"Accept": "application/json;odata=verbose"
},
success: function (contextData) {
$.ajax({
url: otherSiteUrl + "/_api/web/lists/getbytitle('" + listName + "')/items? @target ='" + otherSiteUrl + "'",
method: "POST",
contentType: "application/

[2019-07-23 18:17] koltyakov commented on #795
You can chain document creation response with getting the item and updating it.

[code]

P.S. We really encourage [reading docs](https://pnp.github.io/pnpjs/sp/docs/files/#setting-associated-item-values) (👈 isn't it just an identical sample) and asking general development and obvious questions on the forums, but not the issues. And it's a general dev question, IMO, as just a combination of a few s

[2019-07-23 18:17] #795 closed

[2019-07-23 18:23] koltyakov commented on #796
😱 Please, please, please! Read docs first before asking a question. [In docs](https://pnp.github.io/pnpjs/sp/docs/webs/#get-a-web-directly).

[2019-07-23 18:23] #796 closed

[2019-07-23 21:08] saregbesola commented on #610
@sympmarc , I have been trying to use pnp graph to call other MS graph APIs that are not available in pnp graph module e.g. https://graph.microsoft.com/v1.0/me/calendar/getschedule. It seems the graph capability in pnp does not cover all MS graph APIs? We want to use pnp library for all our API calls so that we can leverage pnp logging module to log errors.  I tried using SPHttpClient to make call

[2019-07-24 03:28] ncmadhan1989 commented on #796
Sorry,i come across the web object(i already read the documents what here u mentioned) but i have some doubts in that,if get operation its work fine,but for post operation its need page context from form digest right??

[2019-07-24 06:04] koltyakov commented on #796
Digests might be omitted, we manage them automatically in core fetch calls.

[2019-07-24 10:25] ncmadhan1989 commented on #796
Oh thank u for ur patience and help

[2019-07-24 12:47] patrick-rodgers commented on #610
@saregbesola - it comes down to time for folks to extend the API to support new calls. If you have a need for one that isn't implemented you can certainly submit a PR. Otherwise, opening an issue and requesting more coverage of specific methods lets us know there is a need. You can also always extend the objects in your projects or do something like:

[code]

If there are APIs you would like suppo

[2019-07-25 05:50] RamPrasadMeenavalli commented on #664
I would like to work on and complete the tasks for this sub module. @juliemturner @simonagren @PopWarner.

[2019-07-25 10:12] PopWarner commented on #664
Thank you @RamPrasadMeenavalli! The status has been updated to "in progress" and is ready for you.

The Readme for dev-v2 has also been updated to include a link to the recording of the contributors call, which can help provide additional guidance. Worth watching if you were unable to attend or have not yet seen it:
https://github.com/pnp/pnpjs/blob/dev-v2/README.md

Thank you again!

[2019-07-25 11:01] gbminnock commented on #782
Thanks @patrick-rodgers

[2019-07-25 11:28] KEMiCZA commented on #625
Hey I need some assistance for writing the test-cases. I want to upload a valid app to the appcatalog using the __add__ method. This works fine in the browser, but when running/debugging the tests it does not work (which is running in nodejs).

I've mapped my file to an array and then I do the following in my test file:

[code]
Result in the appcatalog is that the file is uploaded but corrupted. W

[2019-07-26 03:10] saregbesola commented on #610
@patrick-rodgers , thanks for this. I have found a way to handle exceptions for other APIs that are not currently supported by using Logger.log in the catch exception to log to my subscriber listener. But a quick question, does GraphQueryableInstance support a post action? I couldn't use it for the getschedule API as that operation is a post action.

[2019-07-26 07:42] LeeYaoSan opened #797 "ClientSidePage.fromFile in SP2019 onPrem incorrect url"
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.4]

Please specify what version(s) of SharePoint you are targeting: [SP2019 on-prem]

### Expected / Desired Behavior / Question
Getting a client side page in a SPFx webpart.

### Observed Behavior
When getting a client side page using
[

[2019-07-26 10:43] gbminnock commented on #782
@patrick-rodgers  I've had a look at the @pnp sp-clientsvc but I am unable to figure out what needs to be done to use the client.svc. I have the xml payload pulled from csom 'add alert' equivalent using fiddler. I wonder would there be some guidance on how to use it?

[2019-07-26 12:05] patrick-rodgers commented on #797
Have you[ invoked the setup function with the context](https://pnp.github.io/pnpjs/documentation/getting-started/#establish-context)?

[2019-07-26 12:23] LeeYaoSan commented on #797
I did, but I made a mistake.

After I corrected the setup invoking everything is working fine now.

Thank you for your help and apologies for the inconvenience

[2019-07-26 12:24] #797 closed

[2019-07-26 13:11] patrick-rodgers commented on #797
No worries, glad its working for you!

[2019-07-26 15:32] patrick-rodgers commented on #610
There is a post method, but it is protected. This will change in v2, but for now you can either subclass GraphQueryableInstance and call it (the original design idea) OR case the object to any and invoke it
`(<any>obj).postCore();`, You can look at other methods [such as here](https://github.com/pnp/pnpjs/blob/dev/packages/graph/src/groups.ts#L51) to see what you can pass to post.

[2019-07-26 15:38] patrick-rodgers commented on #625
Guessing this has something to do with a difference in how things are handled in node vs browser. I will try and find some time to research it for you.

[2019-07-26 15:40] saregbesola commented on #610
@patrick-rodgers , thanks! Your help is well appreciated. I will take a look at it.

[2019-07-27 06:02] DaveHaasPowderSoftware opened #799 "How to get all lists from the sp.web object"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.4]

Please specify what version(s) of SharePoint you are targeting: [2019]

### Expected / Desired Behavior / Question

Get all lists from a web (after applying a filter)

### Observed Behavior

Cannot figure out how to do that

### Step

[2019-07-27 10:25] gbminnock opened #800 "pnp/sp-clientsvc"
### Category
- [x ] Question
- [x ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [    1.3.2     ]

Please specify what version(s) of SharePoint you are targeting: [   online      ]

### Expected / Desired Behavior / Question
I would like to use the @pnp/sp-clientsvc package to utilize functionality not yet supported by the sharepoint rest api.

I

[2019-07-27 23:20] patrick-rodgers commented on #799
This should be all you need, nothing has changed. Are you getting an error?

[code]

[2019-07-28 12:48] RamPrasadMeenavalli commented on #664
Hey Guys,  @juliemturner @simonagren @PopWarner
I am done making the changes for this module. Submitted a PR

The build was successful locally when I did 'npm run build'. But the Build check on the PR failed (https://travis-ci.com/pnp/pnpjs/builds/120974500)

It shows errors from the security module. I made sure I haven't made any changes or pushed anything for the security module.

Could you let

[2019-07-28 14:06] RamPrasadMeenavalli commented on #670
I would like to work on and complete the tasks for this sub module. @juliemturner @simonagren @PopWarner.

[2019-07-28 23:52] DaveHaasPowderSoftware commented on #799
Well ok, that's bizarre.

I installed 1.3.4 of pnpjs and the .get() method would not show up in VSCode intellisense. I had to back the version all the way to 1.2.9 to get it to appear.

I then uninstalled 1.2.9 and reinstalled 1.3.4 and it started to show up.

Seems to have been a problem with the typescript server.

Sorry about that.

Cheers,

[2019-07-28 23:52] #799 closed

[2019-07-29 12:54] joakimhogberg commented on #630
Hey @PopWarner, I want to work on this one. Please assign me :)

[2019-07-29 14:02] patrick-rodgers commented on #799
No worries, glad its working for you now! I sometimes have to close and restart vscode as it seems like the TS processes gets caught up somehow and intellisense ceases to work.

[2019-07-29 14:02] PopWarner commented on #630
WooHoo...awesome @joakimhogberg! Thank you... I've changed the status from "help wanted" to "in progress and it's all ready for you.

I know you already know this stuff, but including in case you didn't have the link handy:

The Readme for dev-v2 has also been updated to include a link to the recording of the contributors call, which can help provide additional guidance. Worth watching if you were

[2019-07-29 14:04] PopWarner commented on #670
Fantastic @RamPrasadMeenavalli!! Thank you so much. I've changed the status from "help wanted" to "in progress and it's all ready for you.

The Readme for dev-v2 has also been updated to include a link to the recording of the contributors call, which can help provide additional guidance. Worth watching if you were unable to attend or have not yet seen it:
https://github.com/pnp/pnpjs/blob/dev-v2/R

[2019-07-29 14:06] joakimhogberg commented on #630
Thank you David!

[2019-07-30 14:12] patrick-rodgers commented on #800
Hi @gbminnock,

The sp-clientsvc library was developed to support the sp-taxonomy library enabling a long desired feature of easy taxonomy access in modern applications. We never had plans to provide a parallel implementation to the REST API through that library and didn't document it heavily (we only wrote it to support the taxonomy work). There are some code comments but not a ton. For version 2

[2019-07-30 17:12] juliemturner opened #803 "v2 - Delete method not functioning on fields endpoint for lists or web"
### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [2]

Please specify what version(s) of SharePoint you are targeting: [SPO]

*If you are not using the latest release, please update and see if the issue is resolved before submitting an issue.*

### Expected / Desired Behavior / Question

sp.

[2019-07-30 20:15] gbminnock commented on #800
Hi @patrick-rodgers , thanks for your input on this. I decided to reverse engineer from a CSOM program I created to do the same. Its a bit tricky but I think it will work just as well. It's probably a better option at this point since the client-svc package is being removed.
Thanks again,
Gary

[2019-07-30 20:20] #800 closed

[2019-07-30 20:34] PatBeaup opened #804 "Taxonomy addTerm fails when term contains ampersand character"
### Category
- [X] Enhancement
- [X] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.4]

Please specify what version(s) of SharePoint you are targeting: [2016]

### Expected
Use the taxonomy **addTerm** function on a value with the ampersand character ("&"), e.g. "Test & Report", and get such term added to the termset.

[2019-07-31 06:52] KEMiCZA commented on #625
@patrick-rodgers I had some time today to take a deeper look at this. When I said it works in the browser, I meant it works with v1 of PnPjs using the Chrome extension SP Editor.

The problem occurs when trying to parse the data to JSON: https://github.com/pnp/pnpjs/blob/c456f06c36b5f305f4c60d3e4f3dba1abd20bc46/packages/odata/src/queryable.ts#L15-L35

The content of the source object looks like th

[2019-07-31 07:15] KEMiCZA commented on #625
This seems to work for now:

https://github.com/KEMiCZA/pnpjs/blob/6a79709e8ce43b5a5a39231757843eede2fe4d38/packages/odata/src/queryable.ts#L15-L61

[code]

Not sure if this a valid solution, you know way more about this @patrick-rodgers
But I can now hopefully complete my tests.

[2019-07-31 11:12] ahamedfazil commented on #713
I have a same kind of requirement. do we have a solution to fetch terms in customsort order?

[2019-07-31 14:28] #782 closed

[2019-07-31 14:30] koltyakov commented on #782
Hi @gbminnock,

I'd suggest something similar to [such call pattern](https://github.com/koltyakov/sp-sig-20180705-demo/blob/master/src/02-clientSvc/helper.ts).

[2019-07-31 19:54] campuslane opened #806 "Filtering Large Lists"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

From the documentation for sp list items, what does this mean that the filter operation will likely fail on large lists?  So it's not possible to reliably filter on larger lists?  Is there another way to filter lists then?

[code]

[2019-07-31 20:03] koltyakov commented on #806
PnPjs ends up with REST API requests. REST API (as well as other SharePoint APIs) has its limitations. List views/requests threshold is one of them. When working with large lists (more than 5000 items in a view) you must meet certain criteria not to be throttled. See [large lists](https://support.office.com/en-us/article/manage-large-lists-and-libraries-in-sharepoint-b8588dae-9387-48c2-9248-c24122

[2019-08-01 19:32] mellolr1 opened #807 "Create list item in BCS external list with foreign key field"
### Category
- [ ] Enhancement
- [ ] Bug
- [X] Question
- [ ] Documentation gap/issue

### Version
Please specify what version of the library you are using: [1.3.4]

Please specify what version(s) of SharePoint you are targeting: [2016 on premise]

### Expected / Desired Behavior / Question
I have two external lists from BCS: "equipment" and "equipment type". The equipment list uses the equipment_

[2019-08-02 15:46] #806 closed

[2019-08-03 07:25] RamPrasadMeenavalli commented on #631
I would like to work on and complete the tasks for this sub module. @juliemturner @simonagren @PopWarner.

[2019-08-03 12:09] juliemturner commented on #631
Thank you @RamPrasadMeenavalli! The status has been updated to "in progress" and is ready for you.

The Readme for dev-v2 has also been updated to include a link to the recording of the contributor's call, which can help provide additional guidance. Worth watching if you were unable to attend or have not yet seen it:
https://github.com/pnp/pnpjs/blob/dev-v2/README.md

Thank you again!

[2019-08-05 10:28] wmertens opened #809 "How to handle network issues with SP?"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [        stable ]

Please specify what version(s) of SharePoint you are targeting: [       no idea, something on-premise  ]

### Question

I am encountering hanging sharepoint calls, the debugging just shows things like

[code]

and then noth

[2019-08-06 19:12] Holden15 opened #810 "Accessing a different site collection's Document Library"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2019-08-07 08:48] pconnell99 commented on #727
Sorry to comment on a closed ticket, but the page at https://pnp.github.io/pnpjs/sp/docs/client-side-pages/ still references this parameter incorrectly - who fixes that?

[2019-08-07 14:27] RamPrasadMeenavalli commented on #670
Hi @juliemturner @simonagren @PopWarner,
I am done making the changes for this sub module. Submitted a PR.

[2019-08-08 14:40] #774 closed

[2019-08-08 15:54] RoSchoe opened #813 "How to update HTML_x0020_File_x0020_Type of Folder"
### Category
- [ ] Enhancement
- [ ] Bug
- [ x] Question
- [ ] Documentation gap/issue

### Expected / Desired Behavior / Question
How to update HTML_x0020_File_x0020_Type of a Folder?
Or how to copy an OneNote file

To copy one folder to other location is not the problem.
But if there is a OneNote file in this folder is shown as folder type after copy and not as OneNote Type.

I tried:
`////folde

[2019-08-08 15:58] koltyakov commented on #813
This should answer the question I guess https://github.com/SharePoint/PnP-JS-Core/issues/508

[2019-08-08 22:28] mellolr1 commented on #807
I solved the problem by dropping the association in the external content type. Since I am making a custom web part for the external list I didn't see the advantage of having the association.

[2019-08-08 22:28] #807 closed

[2019-08-09 07:23] RoSchoe commented on #813
to use one note api for that standard process/function for files/folders is not what i have expected but
it seems that at the moment there is no other solution.

Thank you

[2019-08-09 11:01] htred opened #814 "Get TermGroupById throws Error"
When running the following code:

[code]

I get the following error:
[code]

but when retreiving the default sc group, it works:
`store.getSiteCollectionGroup(false).get()`

Is there an issue? I do not use typescript btw.

[2019-08-09 11:13] koltyakov commented on #814
The `Specified argument was out of the range of valid values` error message from ProcessQuery (server-side exception) appears when some of the IDs provided are incorrect.

![image](https://user-images.githubusercontent.com/7816483/62775125-7666c300-baaf-11e9-8f4d-ac71d43f593f.png)

Please make sure that you're providing correct IDs for Taxonomy service and Terms Group:

![image](https://user-image

[2019-08-12 11:38] hamedy opened #816 "can't get replies from comments"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.4]

Please specify what version(s) of SharePoint you are targeting: [Online]

### Expected / Desired Behavior / Question

get an array of reply objects

### Observed Behavior

nothing happens if I add the following line, no output or err

[2019-08-12 11:41] koltyakov commented on #816
I'm wondering, do you have `.catch` handler for your async function?
What's in the network tab in dev tools?

[2019-08-12 11:50] koltyakov commented on #816
Also, I don't think that replies.get works this way, but should be getting comments [expanding the replies](https://pnp.github.io/pnpjs/sp/docs/comments-likes/#comments).

[2019-08-12 11:53] hamedy commented on #816
from the documentation:
`import { spODataEntityArray, Comment, CommentData } from "@pnp/sp";

const comments = await item.comments.get(spODataEntityArray<Comment, CommentData>(Comment));

const replies = await comments[0].replies.get();`

changed my code:
`try {
                const comments = await item.comments.get(spODataEntityArray<Comment, CommentData>(Comment));

                const repli

[2019-08-12 11:57] hamedy commented on #816
oh I missed the expand part, it wasn't mentioned in the code sample for getting replies, gonna try that now.

[2019-08-12 12:01] koltyakov commented on #816
Not sure, maybe this part of the docs should be checked I was also managed getting the exception you mentioned above.

I'd suggest just expanding until something more robust is required:

![image](https://user-images.githubusercontent.com/7816483/62863627-0441e880-bd12-11e9-9a11-91815fe3af9e.png)

[2019-08-12 12:05] hamedy commented on #816
with expanding it works, only when I remove the import for the Comment type from "@pnp/sp".
with the import I get that error. But this def gets me going for now. Thanks for your help :)

[2019-08-12 12:43] htred commented on #814
Thank you, I saw that I just used the group id instead termset id and used a wrong function call.

[2019-08-12 12:43] #814 closed

[2019-08-12 14:16] patrick-rodgers commented on #775
Can you share a repo we can clone that shows this issue? At least then we can debug it and see what is actually happening.

[2019-08-12 14:24] patrick-rodgers commented on #809
Network issues would produce an error. When I see this behavior it is often that I have made a request and not awaited it. Can you provide a repo we can review that demonstrates this behavior?

[2019-08-12 14:30] patrick-rodgers commented on #810
No entirely sure I follow your code flow, what url are you creating the new Web object with? The Web url needs to match the server relative url of the folder. Meaning you can't have a web object with a url and try to get at a file within another site with that web object even with the correct server relative path. They need to match.

[2019-08-12 14:32] patrick-rodgers commented on #813
Going to close this as answered. Please open a new issue and reference this one if you require additional help. Thanks!

[2019-08-12 14:32] #813 closed

[2019-08-13 04:13] wmertens commented on #809
I'm sorry, I tracked this down to most likely a network layer issue, and forgot to close this.

The code fails intermittently, so it works, and the problem is definitely network related. For example, here I'm trying to determine the parent folder of an item:

[code]

This code needs to work with on-premise SP 2013.

What happens is that sometimes a request goes out and the response is dropped some

[2019-08-13 05:18] Nagarajan1605 opened #817 "SharePoint Multiselect Choice field Saving using PnPjs"
Hi

I want to save multiselect dropdown in sharepoint field. I already referred few results in this site.
Choice values in SharePoint : Test1,Test2,Test3,Test4,Test5.

From the custom dropdown choice field user will select multiple values i want to save the data in multiselect choice field in sharepoint list.

Now am getting results as
var testvalue="'Test1','Test2'";

$pnp.sp.web.lists.getByTitle

[2019-08-13 07:35] jonathan-dev opened #818 "Expand Author Field with CAML query"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.4]

Please specify what version(s) of SharePoint you are targeting: [SP13 on Premise]

### Expected / Desired Behavior / Question
Using the `getItemsByCAMLQuery` method I'm trying to expand the `Author` Field (`list.getItemsByCAMLQuery({

[2019-08-13 09:00] koltyakov commented on #817
The payload is wrong, you're passing a single value string `'Test1','Test2'`, but it should be an array of values as:

[code]

[2019-08-13 09:01] Nagarajan1605 commented on #817
Thanks man. I appreciate our quick response.

[2019-08-13 09:04] koltyakov commented on #818
Was discussed many times in the issues here, quick search shows at [least 11 questions](https://github.com/pnp/pnpjs/search?q=getItemsByCAMLQuery&type=Issues) in the issues. Please take a look at [some](https://github.com/pnp/pnpjs/issues/682).

[2019-08-13 09:47] hamedy commented on #816
now I'm having similar issues with adding replies to a comment. With expansion fetching stuff worked, have any tips for how to get this to work now?

I'm using comments[0].replies.add({ text: "#PnPjs is pretty ok!" }); as stated in documentation in my react component but I get the following error:
_this.props.comment.replies.add is not a function

[2019-08-13 10:56] hamedy commented on #816
another issue I'm facing is that even though the following code works and adds the comment, because of the exception thrown, I can't use .then to trigger functions after the comment is added.

`
this.props.item.comments.add({ text: this.state.commentText }).then(() => {
                                this.setState({
                                    commentText: ""

[2019-08-13 11:54] hamedy commented on #816
same goes for liking, unlike a comment etc. If the issue is with the framework it would be really nice to have an estimate of when they will be sorted out. I'm working on a delivery and need these functionalities now.

[2019-08-13 14:34] RoSchoe commented on #813
brief summary of my solution
--> solution by using graph API  --> [MSGraphClient](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-msgraph)

i used to do a post request to oneNote Graph API to copy oneNotebook

it is possible to use [copyTo](https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/beta/api/notebook-copynotebook.md) method  for sites (Scope)

and the

[2019-08-13 16:14] #781 closed

[2019-08-13 18:34] patrick-rodgers commented on #809
If the fetch implementation doesn't give us anything back, which seems to be the case here, we don't do anything. We don't currently wait for a timeout since those cases are rare, but we are then at the mercy of the fetch implementation either in the browser or node and how they handle these conditions. IMO not a lot we can do in cases like this.

[2019-08-13 20:07] wmertens commented on #809
Right. I suppose it would be nice if there was at least a timeout, but I was able to add it myself on top of sp-auth. I'll closer

[2019-08-13 20:07] #809 closed

[2019-08-14 13:56] patrick-rodgers commented on #817
Going to close this as answered, thanks!

[2019-08-14 13:56] #817 closed

[2019-08-14 13:57] patrick-rodgers commented on #818
Closing as answered, thanks!

[2019-08-14 13:57] #818 closed

[2019-08-14 14:08] patrick-rodgers commented on #786
Going to close this due to lack of activity. If you still have this issue please open a new issue and reference this one. Thanks!

[2019-08-14 14:08] #786 closed

[2019-08-15 13:29] Holden15 commented on #810
@patrick-rodgers SiteA is where the document library is that I want to access.  During testing, I would add the SPFx app on SiteB.  From SiteB, I wanted to access the library on SiteA because it was easier then reproducing that data on SiteB.

When my services object loads, I check the if the URL is SiteA, if so I set `this._web`.  If the URL is not SiteA, I set `this._web` to SiteA's url to pull

[2019-08-16 14:13] #793 closed

[2019-08-16 14:41] patrick-rodgers commented on #593
Going to close this due to inactivity. If this is still an issue or there are blockers, please open a new issue and reference this one. Thanks!

[2019-08-16 14:41] #593 closed

[2019-08-16 14:42] patrick-rodgers commented on #439
Going to close this as we are dropping the sp-taxonomy library for v2 as taxonomy support is coming to the graph and we will move to support that.

[2019-08-16 14:42] #439 closed

[2019-08-16 14:43] #804 closed

[2019-08-16 14:43] patrick-rodgers commented on #804
This will go out as part of 1.3.5

[2019-08-16 15:20] patrick-rodgers commented on #692
Going to close this as I am not sure what we can do to help here. You have a successful workaround and our patching is gated so we aren't double patching or interfering once things are already patched. I don't have any control over what the graph SDK team does and they aren't interested in my feedback. We patch the headers when the [imports are done from the nodejs library](https://github.com/pnp/

[2019-08-16 15:20] #692 closed

[2019-08-16 15:25] patrick-rodgers commented on #740
Going to close this due to inactivity and the discussions in #741.

[2019-08-16 15:25] #740 closed

[2019-08-16 15:26] patrick-rodgers commented on #783
Going to close this due to inactivity. If this is still an issue please open a new issue and reference this one. Thanks!

[2019-08-16 15:26] #783 closed

[2019-08-16 15:33] patrick-rodgers commented on #780
Is there an error that comes back or any other information you can provide? [Based on the graph docs](https://docs.microsoft.com/en-us/graph/api/group-post-groups?view=graph-rest-1.0&tabs=http#request-body) I am not sure you can provide those properties at create time.

[2019-08-16 15:35] patrick-rodgers commented on #712
Going to close this as not an issue with the library. You can always post on the [Microsoft Tech Community](https://techcommunity.microsoft.com/t5/SharePoint-Developer/bd-p/SharePointDev) for suggestions around general coding practices.

[2019-08-16 15:35] #712 closed

[2019-08-16 15:53] patrick-rodgers commented on #713
Terms that have a custom sort order defined will have a non-null property: `CustomSortOrder` describing the sorting. You can use that when building your tree.

[2019-08-16 15:53] #713 closed

[2019-08-16 21:50] ellonimo opened #822 "How to delete a term?"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [latest]

Please specify what version(s) of SharePoint you are targeting: [2016]

### Question
Hi. I need to delete a term from term set, but I see no delete/remove method for term object. Via UI I can do this, even more I can delete a term w

[2019-08-17 19:03] ktskumar commented on #790
Hi @patrick-rodgers May I work on it?

[2019-08-19 11:37] JonasBjerke89 commented on #674
@patrick-rodgers Any thoughts on this?

[2019-08-19 11:38] JonasBjerke89 commented on #671
@patrick-rodgers Any thoughts on this?

[2019-08-19 12:25] eirikb opened #823 "Why Taxonomy Utilities (sp-taxonomy/utilities) forces update"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: 1.3.5

Please specify what version(s) of SharePoint you are targeting:  Online

### Question

I noticed that [sp-taxonomy/src/utilities.ts](https://github.com/pnp/pnpjs/blob/dev/packages/sp-taxonomy/src/utilities.ts) does an item `update` aft

[2019-08-19 13:46] patrick-rodgers commented on #822
Sure, we can look at adding the delete method.

[2019-08-19 13:47] patrick-rodgers commented on #790
@ktskumar - absolutely! I'll mark this as in progress. Thanks!

[2019-08-19 14:23] patrick-rodgers commented on #671
There are a few places where writing tests doesn't really work for whatever reason. What I have been doing is writing the test, making sure it works (by creating a classic site for example), then commenting it out with a note on why it is commented out. That means we have a test we can run if needed. For much of the API the code doesn't really ever change (this is a place like that) so I am not to

[2019-08-19 14:33] patrick-rodgers commented on #810
Can you share a repo we can clone and test?

[2019-08-20 04:00] AriGunawan opened #824 "How to use pnpjs in SPFx in Teams tab on Desktop"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [Latest]

Please specify what version(s) of SharePoint you are targeting: [Online]

### Question
Hi, I'm trying to use pnpjs (graph) in SPFx as a Teams tab. [(documentation)](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/get-

[2019-08-20 05:44] eirikb commented on #823
I guess it's fine. An `update` won't do any call anyway.
For those that like me have an item object they work on, which is not actually an item at all but a pojo and want to set a property on it this is a hacky way to do i (pure JS):

[code]

[2019-08-20 05:44] #823 closed

[2019-08-20 08:19] hamedy commented on #816
nothing happening here? aren't these major functionalities that aren't working as expected?

[2019-08-20 10:59] Nagarajan1605 opened #825 "SharePoint DatePicker Field empty validation"
Hi,

I am trying to save the sharepoint date picker field. But its not mandatory field. While validation am getting the result of the date picker field as "". But while saving its throwing error.

_Effectivedate=$("#npc-effective-date").val();

$pnp.sp.web.lists.getByTitle("MPPolicyList").items.add({
effectivedate:_Effectivedate;
}):

effectivedate(this is the internal sharepoint column name). Thi

[2019-08-20 13:26] patrick-rodgers commented on #825
Can you please share the error you are getting?

[2019-08-20 13:43] patrick-rodgers commented on #824
When you say doesn't work on desktop - are you getting an error you can share?

[2019-08-20 14:15] koltyakov commented on #825
@Nagarajan1605,

Also, can you validate that the value is ISO string (e.g. `2019-08-20T14:14:29.082Z`)?

[2019-08-20 14:37] wobba commented on #824
@AriGunawan Are you able to use Fiddler or similar to see what the error is from a network trace and figure out which call might be failing and why?

[2019-08-20 15:01] patrick-rodgers commented on #824
Also what version of SPFx are you running? Do you know if you are using the plus-beta flag? You might need to upgrade to the GA supported version for Teams.

[2019-08-20 17:31] ari-sharingminds commented on #824
Thanks for the response.
I'm using SPFx v1.8.2.

I'm using pnpjs to get groups from AD.
I see this error message using fiddler:

There are no other errors from teams process.

![2019-08-21 00_02_07-Window](https://user-images.githubusercontent.com/26698808/63369355-f5aa9f80-c3a9-11e9-8522-bb00a70f2210.png)

I found the ''Office 365 SharePoint Online" app in the Azure Portal. However, I'm not reall

[2019-08-20 17:59] wobba commented on #824
Can you verify that the graph scopes are approved for your app? https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-aad-tutorial#deploy-the-solution-and-grant-permissions

[2019-08-20 20:07] patrick-rodgers commented on #674
The webparts API in REST is kinda junky. I would write tests for what you can and leave a comment in the file stating that we can't write tests for XYZ and why. That will remind us when we review everything. And like I said in the other issue much of the API hasn't changed in years to won't get better or worse.

[2019-08-21 01:35] AriGunawan commented on #824
Yes, all scopes (User.Read.All and Group.Read.All) have been approved several weeks ago when I deployed it for the first time.

Now I remember getting similar error message when I haven't approved the scopes.
But it's already approved and the app is working well on the SharePoint page and Teams web.
There are no pending approvals on the API Management page.

[2019-08-21 05:37] Nagarajan1605 commented on #825
Yes. I did that. but i am not selecting any value in that date picker field. So it returns value as "". While save am getting error as primitive value should be checked. EDM.Datetime. Basically "" string value is not accepting in datepicker field.

[2019-08-21 05:48] koltyakov commented on #825
So you need to validate the correctness of payload and input data by your own obviously. And provide only supported by the REST API values, etc.

[2019-08-21 06:02] wobba commented on #824
You could try to re-consent as an admin to the scopes in that app from the azure admin UI. But indeed weird.

[2019-08-21 08:10] AriGunawan commented on #824
I couldn't find any permissions/scopes for re-consent in the azure portal.
![2019-08-21 14_51_56-Window](https://user-images.githubusercontent.com/8691985/63413536-1a435d80-c424-11e9-9536-1194e9cb6dbd.png)

I've also tried to re-consent (remove access - redeploy app - approve access) the scopes on the API Management page. After waiting for several minutes, the webpart on a SharePoint page and Team

[2019-08-21 09:16] wobba commented on #824
@AriGunawan can you try using the context.graphHttpClient directly in a call to test? To see if it's pnpjs related or a general bug. If general we should move the issue to sp-dev-docs.

[2019-08-21 09:28] AriGunawan commented on #824
Sure, I will try it and let you know the result.

[2019-08-21 11:41] sympmarc commented on #825
It sounds like your jQuery line:

_Effectivedate=$("#npc-effective-date").val();

Isn’t getting the value from the date picker, and this isn’t a PnPjs issue at all? If so, your selector probably isn’t right. But I’m not sure what type of date picker you mean.

[2019-08-21 12:53] jefflundberg opened #826 "the parameter: hubSiteId is missing in the createCommunicationSite method"
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.5]

Please specify what version(s) of SharePoint you are targeting: [SharePoint Online]

### Expected / Desired Behavior
The createCommunicationSite() method on Site is missing an @param hubSiteId in the comment before the method.

Expec

[2019-08-21 14:53] patrick-rodgers commented on #826
Thanks for letting us know, we will get this updated.

[2019-08-21 15:44] AriGunawan commented on #824
@wobba , I tried to create a super simple app that calling graph api using context.msGraphClientFactory. The result is similar: works on a SharePoint page and Teams web but doesn't work on Teams desktop.

So, I move the question to sp-dev-docs [(issue)](https://github.com/SharePoint/sp-dev-docs/issues/4520) because it seems that it's not pnpjs issue.
Thanks for your help!

[2019-08-21 15:44] #824 closed

[2019-08-21 16:37] jefflundberg opened #827 "How to get SiteID and SiteURL from the sp.site.createCommunicationSite ?"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.5]

Please specify what version(s) of SharePoint you are targeting: [SharePoint Online]

### Question
How does one get the SiteID and URL from the ```sp.site.createCommunicationSite``` command?

From the example in the documentation:

[c

[2019-08-21 21:44] antoniobriones opened #828 "PnP SP not running all operations in IE"
Hi,

I'm running this version of IE: 11.1268.16299.0

The following pnp sp operations do not work in IE (basically, these promises never get resolved, then method is never called and the underlying requests to the SharePoint REST API is never executed):

![image](https://user-images.githubusercontent.com/50162129/63470503-34d8ff00-c443-11e9-9d6f-ba210199efeb.png)

![image](https://user-images.gith

[2019-08-21 23:41] patrick-rodgers commented on #828
Have you installed the [polyfill library](https://pnp.github.io/pnpjs/documentation/polyfill/) or are otherwise using polyfills? These are required to patch functionality in IE11.

[2019-08-22 05:40] Nagarajan1605 commented on #825
I refer the sharepoint date picker column. Datatype is Dateand Time.  But finally i found the solution.

$pnp.sp.web.lists.getByTitle("MPPolicyList").items.add({
effectivedate:_Effectivedate?_Effectivedate:null;
}):

While retrieving we have to check the same null value so it will convert it into normal string.

[2019-08-22 07:20] koltyakov commented on #825
@Nagarajan1605 that’s what you were suggested a few comments before :D But glad you figured out.

[2019-08-22 07:20] #825 closed

[2019-08-22 11:16] Abrissirba opened #829 "Can't send email"
# Category
- [ ] Enhancement
- [x ] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version
Please specify what version of the library you are using: 1.3.5

Please specify what version(s) of SharePoint you are targeting: Online

### Expected / Desired Behavior / Question
Trying to send an email with graph.me.sendMail. The sendMail takes a parameter of the type IMessage. If I do that I get a

[2019-08-22 18:42] antoniobriones commented on #828
That did it, we were missing the polyfills, thanks!

[2019-08-22 18:43] #828 closed

[2019-08-23 05:49] Abrissirba commented on #650
We are going to use the graph messages api in a project and I could not find many of the functions listed here, https://docs.microsoft.com/en-us/graph/api/user-post-messages?view=graph-rest-1.0&tabs=http, implemented in 1.x.x. Is this issue meant to implement those functions? I would be happy to help with this but not sure how. Is there any documentation about the 2.0.0 release and how one can hel

[2019-08-23 13:29] SpliceVW commented on #532
I found a different way rather than creating an arbitrary View ID that seems somewhat more the way it was designed. You have to both:

- Specify `<RowLimit Paged="TRUE">#</RowLimit>` in your ViewXML - this gets you NextHref_, but not PrevHref_
- Provide PageFirstRow as part of the query string, **even if the parameter is included in the Paging string**

[2019-08-23 18:08] PopWarner commented on #666
Hi @ValerasNarbutas...hope things are going well for you. :)

We wanted to check-in and see how you are going with the current item and if you needed any help or had any questions?

We are aiming for a Release Candidate Beta by the end of September and wanted to follow up with the issues which are "In progress" to see how things are going.

Thank you so much again for helping out and looking forwa

[2019-08-23 18:10] PopWarner commented on #660
YoYo @siata13...hoping things are going well for you my man! :)

We wanted to check-in and see how you are going with the current item and if you needed any help or had any questions?

We are aiming for a Release Candidate Beta by the end of September and wanted to follow up with the issues which are "In progress" to see how things are going.

Thank you so much again for helping out and looking fo

[2019-08-23 18:12] PopWarner commented on #657
YoYo @baywet....how are things going with you man! Hope all is well... :)

We wanted to check-in and see how you are going with the current item and if you needed any help or had any questions?

We are aiming for a Release Candidate Beta by the end of September and wanted to follow up with the issues which are "In progress" to see how things are going.

Thank you so much again for helping out and

[2019-08-23 18:14] PopWarner commented on #637
Hi @MartinHatch.....hope all is going well with ya!

Wanted to see if you still had that open question or if you were able to proceed?

We are aiming for a Release Candidate Beta by the end of September and wanted to follow up with the issues which are "In progress" to see how things are going.

Thank you so much again for helping out and looking forward to hearing from you. :)

[2019-08-23 18:15] PopWarner commented on #631
Hi @RamPrasadMeenavalli...Happy Friday! Hope your week has been going well. :)

We wanted to check-in and see how you are going with the current item and if you needed any help or had any questions?

We are aiming for a Release Candidate Beta by the end of September and wanted to follow up with the issues which are "In progress" to see how things are going.

Thank you so much again for helping out

[2019-08-23 18:17] PopWarner commented on #630
Hi @joakimhogberg....how have you been? Hope all is going good for ya... :)

We wanted to check-in and see how you are going with the current item and if you needed any help or had any questions?

We are aiming for a Release Candidate Beta by the end of September and wanted to follow up with the issues which are "In progress" to see how things are going.

Thank you so much again for helping out an

[2019-08-23 18:20] baywet commented on #657
Hey @PopWarner !
Thanks for checking-in. TBH I took some time off and slowed down during summer (they are short up here in Montréal so you might as well enjoy those as much as you can)
I don't want to be a blocker so feel free to re-assign if you have somebody else that wants it. But I don't see myself working on that before a few weeks.

[2019-08-23 20:00] PopWarner commented on #657
@baywet you definitely have to take advantage of that!! :)

I'll open it back up and definitely ping back if you want to work on of the other ones in the future. Thanks for the quick response. 👍

[2019-08-24 14:27] joakimhogberg commented on #630
Hi @PopWarner , thanks for checking in!

I'm good thank you, hope you are too mate!

Getting back to my routines after summer vacation took longer than anticipated, that's why I've been quite inactive here...

I will keep working on this issue during the weekend and get back to you in a day or two. Cheers!

[2019-08-24 21:27] joakimhogberg commented on #630
PR submitted @PopWarner, thanks for reminding me about this!

[2019-08-24 21:40] joakimhogberg commented on #636
I'd like to work on this @PopWarner :)

[2019-08-24 21:51] PopWarner commented on #630
@joakimhogberg Awesome!!  Thank you!! 👍

[2019-08-24 21:54] PopWarner commented on #636
Cool...Thank you @joakimhogberg!

I’ve added the “in progress” label, and removed the “help wanted”. It’s all yours.

Thanks again for the help! 👍

[2019-08-25 18:45] bkmagnetron opened #831 "sp-taxonomy: How to move a Term?"
### Category
- [x] Enhancement
- [x] Question
- [ ] Bug
- [ ] Documentation gap/issue

I can see that just like #822 there is no option to move a term.
This is a blocker for me in completing a task.
My use case is I have to run a service in AWS that syncs the Terms from another data source.
So, to complete the sync I need to able to Create, Update & Move/Delete a Term.
I have done the Create and U

[2019-08-27 03:18] RamPrasadMeenavalli commented on #631
Hi @PopWarner ,
Thank you reaching out. I am working on this module, and should be able to provide some update by 1st week of Sep.

[2019-08-27 08:53] MartinHatch commented on #637
Still have this open question .. nobody has gotten back to me and TBH it fell off my radar

[2019-08-29 06:34] Ramakrishnan24689 opened #834 "Code specified in the PnP Js documentation does not work."
### Category
- [x] Documentation gap/issue

### Version

Please specify what version of the library you are using: [   1.3.4      ]

Please specify what version(s) of SharePoint you are targeting: [   SharePoint Online      ]

*If you are not using the latest release, please update and see if the issue is resolved before submitting an issue.*

### Observed Behavior
The code specified in the docume

[2019-08-29 07:10] htred opened #835 "Reading Termstore keeps throwing 403"
I used an existing Azure AD App and wanted to read termstore data, which works perfectly fine. Now, with a new created app I get the following error:

`Error: Error making HttpClient request in queryable [403] Forbidden ::> {"error":{"code":"-2147024891, System.UnauthorizedAccessException","message":{"lang":"de-DE","value":"Zugriff verweigert. Sie haben keine Berechtigung, diesen Vorgang auszuf\u0

[2019-08-29 07:26] koltyakov commented on #835
Not on the library side, requests end up with web services calls to the APIs, no magic. So it's 100% permissions settings gap.

[2019-08-29 09:14] saiava opened #836 "sp.profiles.getPropertiesFor(loginName) method not working in IE11"
Hi,
sp.profiles.getPropertiesFor(loginName) method not working in IE11. In chrome& Edge its working fine below is my code:

sp.profiles.getPropertiesFor(userLoginNameResponse.LoginName).then((userProfileData:any)=>{
        return userProfileData;
      })
I tried this one too:
let userProfileData = await sp.profiles.getPropertiesFor(userLoginNameResponse.LoginName) as any;

Thank you
Sai

[2019-08-29 09:24] koltyakov commented on #836
Hi @saiava,

Are you sure that you didn't miss all the required [Polyfills](https://pnp.github.io/pnpjs/documentation/polyfill/)?

[2019-08-29 09:26] saiava commented on #836
you mean polyfills for the IE browser.

[2019-08-29 09:31] koltyakov commented on #836
Yes, @pnp/polyfill-ie11 package is a simple way of adding polyfills for IE.

[2019-08-29 09:35] saiava commented on #836
Issue Solved!!!
Just now i checked. I haven't added the polyfills for IE. I added now and its working fine now. Thanks koltyakov.

[2019-08-29 10:49] #836 closed

[2019-08-29 15:48] schlechtweg commented on #835
Which Sharepoint API will be called for reading termstore? Are there only permission settings in AAD (app registration) necessary or are also permission settings in sharepoint online required. This is not really clear for me.

[2019-08-29 16:17] koltyakov commented on #835
@schlechtweg as there is no MMD API yet in REST, we're proxying [MMD methods](https://pnp.github.io/pnpjs/sp-taxonomy/docs/) via `/_vti_bin/client.svc/ProcessQuery` - CSOM endpoint.

[2019-09-03 18:16] Dangerous-Mind opened #838 "Expand Lookup field cache"
Hi,

Like in issue [616](https://github.com/pnp/pnpjs/issues/616), I'm receiving old values from the a get() involving lookups.

From my testing, it looks like the browser is caching the request.
If I make the same rest api call on another browser tab using the url, it replays me with a xml format.
And since the reply is cached on the browser I get parse errors on the original app that is expectin

[2019-09-04 09:58] RamPrasadMeenavalli commented on #631
@juliemturner @simonagren @PopWarner, @patrick-rodgers
Submitted a PR for this module.

[2019-09-04 10:43] Dangerous-Mind commented on #838
After farther analyzes, most of the call's are receiving the 304 code.

![image](https://user-images.githubusercontent.com/31196073/64248271-a23b6400-cf08-11e9-9014-d9f5990ef077.png)

[2019-09-04 12:52] PopWarner commented on #631
@RamPrasadMeenavalli, excellent! Thank you again!

[2019-09-04 14:32] baywet commented on #657
@PopWarner just submitted a draft pull request. There are probably things that are missing/not done probably but hopefully with a few iterations we'll be able to align it :)

[2019-09-04 14:38] htred commented on #835
@koltyakov so with the settings in my screenshoot it should work? These are my permissions set, used with the following code, which should work (and does with another app used, with same permissions) :
[code]

[2019-09-04 14:39] PopWarner commented on #657
@baywet sweet!!! Thank you my man. I'm gonna go ahead and take off the "help wanted" and put back on the "in progress"! Thanks again for the help! :)

[2019-09-04 19:02] joaojmendes opened #841 "Update Planner Task - error missing If-Match"
### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [ 1.3.3]

Please specify what version(s) of SharePoint you are targeting: [ SPO ]

*If you are not using the latest release, please update and see if the issue is resolved before submitting an issue.*

### Expected / Desired Behavior / Questi

[2019-09-05 17:56] Dangerous-Mind opened #842 "Rename Attachment"
Is there a way to rename a Attachment?

I can download the file, deleted it and upload it again with another name. But is there a way to simply rename it on the server?

### Category
- [x] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [ 1.3.5 ]

Please specify what version(s) of SharePoint you are targetin

[2019-09-05 18:09] koltyakov commented on #842
Hi @Dangerous-Mind,
I don't think it's possible to rename an attachment but to delete and reupload with a different name.

[2019-09-06 11:07] Dangerous-Mind commented on #842
@koltyakov
That can be tricky because the file can be big and can potentially be lost during the process.

It would be nice to be able to rename using pnpjs.

Can it be developed?

[2019-09-06 11:11] koltyakov commented on #842
Nope, it can't be developed until corresponding functionality is a part of REST API. PnPjs is REST/Graph client but not a magic stick, so the API capabilities are our limitations.

Re-upload logic can validate that the attachment is uploaded with a new name before deletion.

[2019-09-06 11:26] Dangerous-Mind commented on #842
Thanks @koltyakov

[2019-09-06 11:26] #842 closed

[2019-09-06 12:16] vamsiabhinav1993 opened #843 "ProviderHostedRequestContext.create throws error that"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2019-09-06 12:16] #843 closed

[2019-09-08 22:20] amortsell commented on #659
@PopWarner I'm willing to take responsibility for this issue, and try to do the transfer to v2. 0.0 for the related items module. Is there anything else than what's mentioned in the checklist in the issue description to think of?

[2019-09-09 02:29] PopWarner commented on #659
Thank you @amortsell!!! 👍

The status has been updated to "in progress" and is ready for you.

What is listed in the checklist should cover everything needed.

The Readme for dev-v2 has also been updated to include a link to the recording of the contributors call, which can help provide additional guidance. Worth watching if you were unable to attend or have not yet seen it:
https://github.com/pnp

[2019-09-09 07:41] vamsiabhinav1993 opened #844 "ProviderHostedRequestContext.create throws type error for Secret value"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2019-09-09 16:09] narulasrinivas commented on #834
@Ramakrishnan24689  - I experienced same issue and below code worked for me.

Here is the issue link https://github.com/pnp/pnpjs/issues/755 which I raised earlier.

[code]

[2019-09-10 07:26] Ramakrishnan24689 commented on #834
@narulasrinivas : The reason I posted this is to fix the documentation gap or issue. A workaround was posted in my initial conversation as well. Thank you.

[2019-09-10 07:29] narulasrinivas commented on #834
@Ramakrishnan24689  - Sorry my bad. I missed out that bit. This change is going to be updated in v2 version docs.

[2019-09-11 05:16] paulryan commented on #259
@patrick-rodgers Hi - this is still an issue, and it has a very simple fix (which I have tested). This fix avoids the 403 errors experienced sporadically by low-privileged users, and improves performance for all users.
**sharepointqueryablesecurable.ts**
![image](https://user-images.githubusercontent.com/3141243/64670006-f618f080-d4a6-11e9-90cf-081342f48021.png)

[2019-09-11 06:30] koltyakov commented on #259
Hi @paulryan, thanks for adding this enhancement! It's pushed withing a PR.

[2019-09-11 12:49] paulryan commented on #259
Thank you @koltyakov for creating the PR, much appreciated.

[2019-09-12 16:40] parmira5 opened #847 "sp.site.createCommunicationSite not working properly in Azure Function"
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [    1.3.5     ]

Please specify what version(s) of SharePoint you are targeting: [    SPO    ]

### Expected / Desired Behavior / Question
Should provision SPO communication site with parameters passed in.

### Observed Behavior
Returns:
`{

[2019-09-13 14:19] Mathyaku commented on #120
I'm having the same issue that @pabmardo had. Some news about it ? Could someone help me ?

[2019-09-14 13:22] Ramakrishnan24689 commented on #667
Hi @PopWarner,

I almost finished up writing the test and got stuck while writing test for the method createmodernteam.  under SP-sites submodules

The **issue** here is app-only token does not have sufficient permission to create a modern team site.  So the test with SPFetchClient fails. (Does not create site.)

Request you to share your suggestion in this regard.

The link below where it is stat

[2019-09-15 10:05] Ramakrishnan24689 commented on #667
Hi All(@PopWarner, @simonagren , @juliemturner ),

Kindly ignore my previous comment.
I have reached the last step and wanted to confirm (as it was not much clear from our community call [video](https://www.youtube.com/watch?v=fTUFVAegmvQ))

As I am working on **Site sub module** and when comparing it with 1.x branch, I can see methods deleteSites, joinhubsite, registerhubsite, unregisterhubsite e

[2019-09-15 15:28] Ramakrishnan24689 commented on #667
Hi All(@PopWarner, @simonagren , @juliemturner ),

All the tasks were completed.

Please find PR link below and let me know in case of any change.

https://github.com/pnp/pnpjs/pull/848

[2019-09-17 10:59] spvjebaraj opened #849 "How to return the data as Observable in SPFx"
Team,

I am working in SPFx with React along with PnP JS. I want to return the output as Observable<MyModel[]>. I have installed the rxjs library in my project and I used the below code. But it is not working. I used the same code in Angular, it is working.

`public getListItemDetails<T>(
    listTitle: string,
    selectedFields: string,
    orderBy: string
  ): Observable<T[]> {
    return from(

[2019-09-17 11:03] koltyakov commented on #849
Hey @spvjebaraj,

Looks like you piping not a Promise value:

![image](https://user-images.githubusercontent.com/7816483/65036281-c741c500-d953-11e9-849c-bba9e13210ad.png)

[2019-09-17 11:11] spvjebaraj commented on #849
Hi Andrew,

Thanks for the quick response. It's working like charm. Why it is differ from Angular? Kindly share the details.

Thanks

[2019-09-17 11:17] koltyakov commented on #849
There is no difference, from/pipe deals with `Observable, Promise, Array, or Iterable`, however, you provided not a Promise but `SharePointQueryableCollection` instance.

[2019-09-17 11:37] spvjebaraj commented on #849
Thanks Andrew. One more thing, I used the below code in Angular it is working. If I use it in SPFx, am getting the syntax error "Type 'Observable<'unknown'>' is not assignable to type 'Observable<T[]>'".

`public getListItemDetails<T>(
    listTitle: string,
    selectedFields: string,
    orderBy: string
  ): Observable<T[]> {
    return from(
        sp.web.lists
          .getByTitle(listTitle)

[2019-09-18 08:48] kmosti opened #850 "pnp telemetry"
### Category
- [ ] Enhancement
- [ ] Bug
- [ ] Question
- [X] Documentation gap/issue

### Version

Please specify what version of the library you are using: 1.3.3

Please specify what version(s) of SharePoint you are targeting: 2016

### Expected / Desired Behavior / Question
Why is there telemetry data being sent to https://pnptelemetryproxy.azurewebsites.net/track by default?

I could not find

[2019-09-18 09:50] spvjebaraj opened #851 "How to add new item using PnP JS with return type of Observable<ItemAddResult>"
Hi Team,

I am working in SPFx with React along with PnP JS. In that am using the Observables (RxJS libraries) to handle asynchronous operations. I am using the below code to add new items to the list. But I am getting the syntax error as "Type 'Observable<'unknown'>' is not assignable to type 'Observable<'ItemAddResult'>'". But it is working in Angular project.

`public postDataToList(
    listTi

[2019-09-18 10:39] koltyakov commented on #851
Going to close this as a not library-related question. You can always post on the [Microsoft Tech Community](https://techcommunity.microsoft.com/t5/SharePoint-Developer/bd-p/SharePointDev) for suggestions around general coding practices.

[2019-09-18 10:39] #851 closed

[2019-09-18 14:06] koltyakov commented on #838
Hi @Dangerous-Mind,

Kind of hacky, but I usually force ignoring the browser's caching by adding unique part into the request URL, e.g. by placing additional parameter which doesn't affect on API:

[code]

`&cache=${new Date().toISOString()}` is always unique.

[2019-09-18 19:49] amortsell commented on #659
@PopWarner I'm quite new to writing the tests and would appreciate a little guidance on how to implement the test cases for this module. I have figured out the basic principles on how the test library works and looked at a few examples to get the hang of it. I still feel a little uncertain though, on how to implement my describe methods  to make POST requests to get a result to compare to the resu

[2019-09-18 20:42] PopWarner commented on #659
@amortsell thank you for reaching out. I'm traveling for work quite a bit the next few weeks with limited availability, unfortunately. :(

You mentioned that you looked at some of the other samples? Also, maybe take a look at the most recent completed PR's and see if they provide any additional help.
**Completed PRs**: https://github.com/pnp/pnpjs/pulls?q=is%3Apr+is%3Aclosed

I will also reach out

[2019-09-18 21:16] amortsell commented on #659
Thanks @PopWarner!

I checked among the recently merged PR's and found a few tests which I can
use as samples for tests I'm writing. I will try to complete this module by
the end of this week.

Regards

Anders

On Wed, Sep 18, 2019, 22:42 David Warner II <notifications@github.com>
wrote:

[2019-09-18 21:19] PopWarner commented on #659
@amortsell Excellent!!!!!

Thanks for the update. Don't hesitate to reach out if you have any other questions and we will do our best to get back to you or get you an answer.

Thanks again for the efforts! 👍

[2019-09-18 22:05] Ofer-Gal opened #852 "super.onInit() errors "error TS2339: Property 'onInit' does not exist on type 'Component""
### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version SPFx 1.9.1

Please specify what version of the library you are using: [    ^1.3.5     ]

Please specify what version(s) of SharePoint you are targeting: [    Online     ]

### Expected / Desired Behavior / Question
gulp serve with no errors

### Observed Behavior
error TS2339: Property 'onInit' does

[2019-09-19 07:00] Rameishvaghela commented on #605
How can I selecct the column..i used this but not able to find the Category column in it.

[2019-09-19 08:38] Savanoop95 opened #853 "Only getting 1000 user from graph"
Only the first 1000 users are getting by using the graph from @pnp.
Is there any way to get more than 1000 users?

### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [ 1.3.5        ]

Please specify what version(s) of SharePoint you are targeting: [ Sharepoint Online        ]

### Expected /

[2019-09-19 15:15] patrick-rodgers commented on #852
onInit is specific to SPFx and is there when you inherit from the SPFx stack. If you are just using a React component you wouldn't have that method to override. You would need to place the setup code somewhere within your project where it will be run once on each page load per closure.

[2019-09-19 15:19] patrick-rodgers commented on #853
You are limiting the query to 999 users using top - so that is likely why you are getting 1000 back. If the graph api only gives you 1000 you can use skip with top to get pages of data.

[2019-09-19 15:39] patrick-rodgers commented on #838
I would add that this is by design. We don't do anything to automatically avoid browser cache as that is rarely optimal.

[2019-09-19 15:39] #838 closed

[2019-09-19 16:28] #849 closed

[2019-09-19 16:31] patrick-rodgers commented on #737
You might need to ensure that the polyfills have had time to load before your code executes.

[2019-09-19 16:43] patrick-rodgers commented on #775
Closing this due to no response. Should you still require help please open a new issue and reference this one. Thanks!

[2019-09-19 16:43] #775 closed

[2019-09-19 16:48] patrick-rodgers commented on #810
Going to close this due to no response. If you still need some help, please open a new issue and reference this one. Thanks!

[2019-09-19 16:48] #810 closed

[2019-09-19 16:56] patrick-rodgers commented on #834
Thanks, got this updated. Appreciate you letting us know.

[2019-09-19 16:56] #834 closed

[2019-09-19 17:28] patrick-rodgers commented on #780
Going to close this based on lack of feedback. If you are still having issues please open a new issue and ref this one. Thanks!

[2019-09-19 17:28] #780 closed

[2019-09-19 17:34] patrick-rodgers commented on #827
Thanks for reporting this, missed it in the list of issues. Will have a look, thanks!

[2019-09-19 20:42] Ofer-Gal commented on #852
It did not complain when I put it in the PnpUploadWebPart extends BaseClientSideWebPart class
But then how do I refer to it (spfxContext) in the component itself?

[2019-09-19 21:12] Ofer-Gal commented on #852
Also, the documentation for upload in  https://pnp.github.io/pnpjs/sp/docs/files/  Adding Files is a bit confusing maybe because of jQuery.
How would I do it in the react component? (I have the files with @progress/kendo-react-upload )
Is there an example to upload files within SPFx using Graph? (@pnp/graph)

Is it correct to assume everything related to node.js in the documentation does not relat

[2019-09-19 21:26] juliemturner commented on #852
I do the onInit thing all the time. Not sure why you're using the return super.... so I can't speak to that.

For Example:

[code]

@Ofer-Gal -- I'd suggest, to get the best response, it would be better if post your second question as a new issue.

[2019-09-19 21:50] Ofer-Gal commented on #852
The  the return super.... is from the example in https://pnp.github.io/pnpjs/documentation/getting-started/  Using @pnp/sp setup.
I will try it your way
Thank you much

[2019-09-19 21:50] #852 closed

[2019-09-19 21:58] good-gravy commented on #737
This just became an issue on Tuesday.  We started getting bug reports for ie11.  After investigating, it was noticed that filter was being ignored and returning all of the list items only in ie11.  We now have to rewrite all of the methods to avoid the use of filter.

[2019-09-20 18:58] Dangerous-Mind commented on #838
@koltyakov
I thought on doing that also.

Thanks for the reply @patrick-rodgers
I noted it was a Microsoft "By Design" thing. But its a very lousy design...
It even ignores the header of the message. If I put the request in the browser url I'll break the call in the app because It will always reply with the xml.
And since the sp.pnp can't translate the xml response it will throw a error..

I thoug

[2019-09-20 19:33] patrick-rodgers commented on #838
Hi @Dangerous-Mind - unsure on a few things in your reply. But you seem angry so I wanted to try and explain a bit more.

My comment on by design referred only to this library. We in this library don't do any automatic cache manipulation as it takes that control away from the developer, user, browser, and other systems.

Finally, to be very clear, this issues list is not "contacting Microsoft". I

[2019-09-20 19:43] baywet commented on #657
PR has been approved, Issue probably can be closed now

[2019-09-20 20:02] Dangerous-Mind commented on #838
@patrick-rogers
Sorry. It wasn't my intention.  I know you work hard on this library and I know that all the spfx community thanks you for that.

My words were only on Microsoft actions since I'm always working around many Microsoft bugs.

Thanks for you support and again, sorry if my words were not the best to use.

[2019-09-20 21:04] patrick-rodgers commented on #838
All good!

[2019-09-23 16:40] patrick-rodgers commented on #803
I removed the delete method. Not sure if this was a change in the API or we never tested it, but the delete method is not exposed to REST.

[2019-09-23 16:40] #803 closed

[2019-09-24 12:49] gianespo opened #854 "Unable to use SPFetchClient from Angular 8 app"
I'm trying to use the SPFetchClient to query data on a SharePoint Server 2016 from an Angular 8 app. I followed the steps described in the PnP JS documentation: https://pnp.github.io/pnpjs/nodejs/docs/sp-fetch-client/ but when I run `ng build` or `npm start` I get the following error:

`ERROR in ../../node_modules/adal-node/lib/adal.d.ts:1:23 - error TS2307: Cannot find module 'http'.`
`1 import *

[2019-09-24 13:34] patrick-rodgers commented on #637
Hey @MartinHatch  - still interested in working this one?

For the toUrl method sometimes vs code get confused. If you close vs code, run `npm run build`, and reopen vs code everything should be sorted. Or if you just hit F5 things should work correctly.

[2019-09-24 13:55] koltyakov commented on #854
@gianespo,

We predicted this and created API proxy.
For this scenario please take at https://github.com/koltyakov/sp-rest-proxy project.

[2019-09-24 14:33] gianespo commented on #854
It looks like what I need, I will try it!
Thanks

[2019-09-24 14:46] PopWarner commented on #661
Hi @russgove.....apologies for the delay on getting back to you.

Let me try to address some of your questions. :)

Anything that is needed for your testing would be generated with your tests. If your needing a user, list or list item, then the test would create those for purposes of the test.

No assumptions are expected to be made about the environment. This would further support the discussion

[2019-09-24 14:49] PopWarner commented on #666
Hi @ValerasNarbutas. We wanted to check in with you again to see how things are going? We are moving along nicely in the march towards a v2 beta for PnPjs and wanted to see if you were still working on this issue?

If you are unable to continue, it's no problem at all. We totally understand that sometimes things get in the way. :) Let us know and if needed we can go ahead and move it back into the

[2019-09-24 15:41] #854 closed

[2019-09-24 18:20] patrick-rodgers commented on #640
Closing this, not a true sub module

[2019-09-24 18:20] #640 closed

[2019-09-24 18:21] patrick-rodgers commented on #629
Closing this, not a true sub module

[2019-09-24 18:21] #629 closed

[2019-09-24 18:48] gautamdsheth commented on #847
Hi @parmira5, since you are in App-only context, you also need to set the owner. This parameter is supported in pnpjs, just set its value and your function should work.

[2019-09-25 08:22] spvjebaraj opened #855 "How to retrieve Multiple Users from User Profile using PnP JS"
Hi Team,

I am working in SPFx project along with PnP JS library. I am using the below code to fetch the user profile properties for the given user. It's working fine without any issue. How to filter the user based on the email address while typing in texbox (like auto suggest). In REST API, we can use substringof to pass the value to filtered the results from list. How to do it in PnP JS for filt

[2019-09-25 08:29] koltyakov commented on #855
Hi @spvjebaraj, `clientPeoplePickerSearchUser` method is what you need.

[2019-09-25 09:23] spvjebaraj commented on #855
Thanks Andrew. Now am able to get the multiple users. In that results, I am unable to get the Profile Picture. How to get the Picture URL? Could you please share your thoughts.

[2019-09-25 09:30] koltyakov commented on #855
The picture should be retrieved based on the platform you're, for SPO and On-Prem it's different. Also, there are 100500 different ways of getting a profile image, and I don't know the one to be universal. E.g. `https://outlook.office365.com/owa/service.svc/s/GetPersonaPhoto?email=usernale@contoso.onmicrosoft.com&UA=0&size=HR96x96` should work well for SPO.

[2019-09-25 09:49] spvjebaraj commented on #855
Thanks Andrew. I will use the above approach to get the profile picture.

Thanks a lot for your help.

[2019-09-25 10:02] koltyakov commented on #855
Cheers!

[2019-09-25 10:02] #855 closed

[2019-09-25 11:30] parthaj opened #856 "Date Range with multiple dates comparison spfx"
Hi Team,

We are developing spfx application, where the user is allowed to enter multiple dates or the date range in date field. We need to use it to compare the dates with the dates(start dates & end dates) provided in the filter condition and list down only the matching items between start and end dates. Please advise on the approach of storing the dates in sharepoint lists and on the comparison

[2019-09-25 11:36] koltyakov commented on #856
The question is not related to the library or API, but a general development and design question. We encourage asking such in tech community or other online forums.

[2019-09-25 11:36] #856 closed

[2019-09-26 07:52] shekhawatajit opened #858 "Promoted State of Unpublished News is wrong : SP-clientsidepages"
### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version
Please specify what version of the library you are using: [1.3.5 ]
Please specify what version(s) of SharePoint you are targeting: [SharePoint Online]

### Expected / Desired Behavior / Question
Value of PromotedState should be 1 for News with version  0.xx (*never ever  published). I have done PoC h

[2019-09-26 13:07] craghavendra21 opened #859 "How to get the multiline column value which has append text property set true."
### Category
- [x ] Question

### Expected / Desired Behavior / Question
I have a multiline column named as "Notes" in a list. This column has the "append text" property set to true.
So when I retrieve the item I am getting this column null value. Please help me query this.

[code]

[2019-09-26 13:08] koltyakov commented on #859
Hi @craghavendra21, you should get versions and combine such field values. Append text is based on versioning.

[2019-09-27 13:43] abiargenuvolsistemas opened #863 "folder.moveTo() throws Microsoft.SharePoint.Client.ResourceNotFoundException"
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [   1.3.5      ]

Please specify what version(s) of SharePoint you are targeting: [   Sharepoint Online      ]

*If you are not using the latest release, please update and see if the issue is resolved before submitting an issue.*

### Expecte

[2019-09-27 13:56] FlamingFox911 opened #864 "Anonymous access - ClientSidePage.fromFile(...) - 401 Error"
### Category
- [X] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: 1.3.5

Please specify what version(s) of SharePoint you are targeting: 2019 On-Premise

### Expected / Desired Behavior / Question
I am developing a custom breadcrumb SPFx, and I am required to put the title of the page in the breadcrumb (sin

[2019-09-27 14:15] koltyakov commented on #864
Hi @FlamingFox911,

The path should be a correct relative URL.
E.g. if the page address is `https://contoso.sharepoint.com/sites/site/subsite/SitePages/A-Page.aspx`, the relative URL should be `/sites/site/subsite/SitePages/A-Page.aspx`.

The other thing, 401 is unauthorized server response, but it's likely because of the incorrect URL which is provided to the API.

Anyways, this doesn't look as a

[2019-09-28 17:43] mag210 commented on #88
Hi all, I'm assuming as of 1.26 creating site collections using @pnp/sp is now supported? https://pnp.github.io/pnpjs/sp/docs/sites/

[2019-09-30 17:33] FlamingFox911 commented on #864
Hi. Just getting back to say thank you for your suggestions, but the problem was not getting the file as I explained here:

I have, however, resolved this issue. After experimenting with REST API calls from the browser I have found the field I am looking for. I didn't have to change much from my original code:
[code]
Thanks again.

[2019-09-30 17:33] #864 closed

[2019-10-01 07:00] Abbas-627 opened #866 "item.breakRoleInheritance(false) is not a function"
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [ 1.2.6 ]

Please specify what version(s) of SharePoint you are targeting: [ SharePoint Online ]

### Expected / Desired Behavior / Question

[code]

This last line should break the inheritance of permissions from the list.

### Observed Beha

[2019-10-01 08:25] koltyakov commented on #866
Hi @Abbas-627,

You're holding it wrong.

[code]

[2019-10-02 08:27] Abbas-627 commented on #866
Hi @koltyakov

Thank you for your quick response. I got this working but now I have another problem/question then.
What if I use `filter` and have multiple items to break the inheritance from. And also, I need to add a role-assignment to the item afterwards. My initial code was:

const listItems = await sp.web.lists
    .getById("GUIDTOLIST")
    .items
    .filter(`Identifier eq ${identifier}`)

[2019-10-02 08:42] koltyakov commented on #866
Hi @Abbas-627,

You got precessing each item individually, that's correct, e.g. by getting per ID:

[code]

[2019-10-02 09:51] Abbas-627 commented on #866
Hi @koltyakov

Thanks again for your answer. It works and now I was only wondering if this would be more performant by using a batch, like so:

[code]

First, I break the inheritance in batch for all items and in the second batch, I add the role-assignments to all the items. Is this a clean solution?

Thanks in advance!

[2019-10-02 10:27] koltyakov commented on #866
Using batches can be more effective, but not necessarily. Batches are executed on a server sequentially, so it can be a single batch for breaking inheritance and permissions assignment.

Regards your code sample, batches do not work this way, you're actually not batching anything. Please search for inBatch usage, there are tons of samples with batches in sister issues.

I'd also encourage not conv

[2019-10-02 11:06] Abbas-627 commented on #866
Ok, then this issue may be closed as my initial problem is solved. Sorry for mixing things up. Again, thanks for your help!

[2019-10-02 11:56] #866 closed

[2019-10-02 18:39] rmbw74 commented on #853
How do you get the skipToken? it looks like pnp returns only the value?

[2019-10-04 01:44] williamyinssw commented on #603
@TylerDurham , I'm just wondering if you have resolved this issue, because it's closed without a solution. I'm currently testing SPFetchClient against on premises SharePoint environment, and facing the same issue. If you can tell a bit about your solution fixing it that would be great ;)

[2019-10-07 14:06] ng-marcus opened #867 "SPFX throttling and 503 errors"
### Category
- [ ] Enhancement
- [ ] Bug
- [X] Question
- [ ] Documentation gap/issue

### Version .

Please specify what version of the library you are using: [   1.3.5     ]

Please specify what version(s) of SharePoint you are targeting: [     Online    ]

### Expected / Desired Behavior / Question

API access to SharePoint without throttling.

### Observed Behavior

Even under very light load

[2019-10-07 15:46] koltyakov commented on #867
I’d suggest checking if there are some logical errors in the code. E.g. due to some mistakes the webpart/app customizer bombarding the API and you got throttled even without knowing it.

I’d recommend monitoring the traffic with fiddler and analyze numbers end endpoints. Maybe you’re doing half of that 6 billions of calls in a month throughout the world. ;). Just kidding, but without numbers or at

[2019-10-07 17:18] ng-marcus commented on #867
We've run through the code and there's no obvious place where we hit the server too often.    We can see the Sharepoint health go from 0 to 10 very quickly though :( .  Probably the most intensive thing we do is set up a new site when we will add about 15 lists, and add about 20 items to each, apart from one where we add about 450 items.  Those are done in batches of 50.  All small items though, e

[2019-10-08 05:24] williamyinssw commented on #603
@jrwiller13 Thank you.
I wonder which authentication strategy did you choose when you initialize the `./config/private.config.json` file?
Did you use "Add-In Only permissions (On-Prem)"?

I had a discussion with @koltyakov and @s-KaiNet at [Gitter](https://gitter.im/sharepoint-node/Lobby?at=5bbe6037f659e67772936d1a), it looks like there are additional configuration steps needed for on-premises Sha

[2019-10-08 10:29] RogerZhang-CatapultSystems opened #868 "Is sp.profiles.setSingleValueProfileProperty support SharePoint 2019?"
Is sp.profiles.setSingleValueProfileProperty support SharePoint 2019?  When I call sp.profiles.setSingleValueProfileProperty against SharePoint 2019, there have no error in the response, but the property value didn't update? I want to confirm with you, whether the API support SharePoint 2019

[2019-10-08 10:58] KEMiCZA commented on #868
I just check the _api/$metadata endpoint on a SharePoint 2019 farm and it seems it's supported:
![image](https://user-images.githubusercontent.com/3862716/66390538-2c289200-e9cb-11e9-84d7-bab1e5230a8a.png)

Not sure what's going wrong. Maybe check the ULS logs if you have access to those?

[2019-10-08 12:20] #859 closed

[2019-10-08 12:28] RogerZhang-CatapultSystems commented on #868
Below log may be the root cause for the API calling, but not sure how to make ProfilePropertiesCSOM flight enabled, please give me advices, great thanks.

10/08/2019 05:02:15.24 	w3wp.exe (0x2B08)                       	0x24C0	SharePoint Portal Server      	User Profiles                 	aw2z4	Medium  	**ProfilePropertiesCSOM flight is enabled : False**	c7d60b9f-201e-506e-9b48-2676e959befb

10/08/

[2019-10-08 13:01] KEMiCZA commented on #868
It might be a limitation of SharePoint onpremise in this case. Even though the method is available, I suspect it will only work in SharePoint Online. I'm not sure if we can fall back to _vti_bin/userprofileservice.asmx to achieve this.

[2019-10-08 17:19] ng-marcus commented on #867
To follow this up, I think it's an infrastructure issue rather than a throttling issue.  It's giving 503 errors even when loading list file attachments, so not even our API.

We've fixed the issue by using our own fetch and catching and retrying on a 503 - we've seen every 503 request so far return as a success on the next try.

[2019-10-08 20:11] patrick-rodgers commented on #816
Hi @hamedy - circling back as time permits to look at issues. I checked the following code and everything worked as I expected. It might help to understand that a page has a set of comments that each have a set of replies. Also, the data returned from the library - for example when you do an get doesn't include the methods, it is just data. So accessing comments[0].replies has no meaning there. Yo

[2019-10-08 20:36] patrick-rodgers commented on #827
Fixed this, will be in 1.3.6.

[2019-10-08 20:39] patrick-rodgers commented on #829
Fixed, will be in 1.3.6

[2019-10-08 20:46] patrick-rodgers commented on #841
Added support for the header, thanks for letting us know. Update will be in 1.3.6

[2019-10-08 20:47] #835 closed

[2019-10-08 23:54] patrick-rodgers commented on #831
The best option would be to use the CSOM libraries for this. For the move operation we need to represent the entire term/termset that would be the new parent in a way we aren't really setup to do easily.

Happy to take a PR if someone wants to work it out.

[2019-10-09 00:25] patrick-rodgers commented on #867
Depending on what you are doing and how you are doing it PnPjs is written to retry on 503, meaning if you have a lot of parallel operations that might all get caught in a cycle of retry it could add load. The library is used highly by many tenants, so I don't believe we have an internal issue that would generate throttling.

There is no way to add the header from the browser, I have had that conve

[2019-10-09 00:25] #867 closed

[2019-10-09 07:08] ng-marcus commented on #867
Hi Patrick,

A couple of things.  It's not the library that we thought was causing the 503 errors, more that we thought we might be doing something wrong in our app.

Regarding 503 catching,  this seems to be caught when using the Node version, but we had to overwrite fetch and catch the 503 error ourselves in the browser version.   If this isn't intentional, let me know and I'll open a new issue.

[2019-10-09 07:11] kmprasad4u opened #869 "How to set context for pnpjs in Service ?"
How can we set the spfxContext when we use pnpjs in a service layer.

In service classes we normally use serviceScope to get all the required dependencies. Through serviceScope.consume(PageContext.serviceKey) we can only get reference to this.context.pageContext, where as spfxContext requires this.context to be passed. Is it possible to get this.context via serviceScope.consume ? If not, are there

[2019-10-09 13:42] patrick-rodgers commented on #868
This appears to be a limitation in SP2019 on prem. Sorry, not much we can do to help out on this one.

[2019-10-09 13:42] #868 closed

[2019-10-09 13:43] patrick-rodgers commented on #869
Can you share a repo we can clone showing what you are trying to do?

[2019-10-09 13:52] patrick-rodgers commented on #750
Going to close this in favor of the sp method that already exists. Happy to take a PR if someone wants to code this up. Thanks!

[2019-10-09 13:52] #750 closed

[2019-10-09 14:22] patrick-rodgers commented on #867
Hmmm...if you have more details we can take a look. It runs the same code in browser or node for the  throttling so if it works in one place it should work in the other, but perhaps we missed something.

[2019-10-09 14:38] ng-marcus commented on #867
Copying in my colleage @allanchaplin who worked on this.  We saw 503 errors coming through to us so he over-rode fetch to catch them.

[2019-10-09 14:46] patrick-rodgers commented on #867
You would expect to see those if we do the max number of retries we return the 503.

[2019-10-09 14:47] PopWarner commented on #660
Spoke with @siata13 and he has had some things come up, so we are going to move this back into the pool of available 2.0 modules that can be grabbed by the community. :)

[2019-10-09 14:51] PopWarner commented on #659
Hi @amortsell, I hope all is going well with you. :)

I wanted to check-in and see how things are going on this module. Feel free to reach out if you have any questions!

Thanks again for your willingness to help! 👍

[2019-10-09 14:52] ng-marcus commented on #867
I think then it's all working as it should.  We will open another issue if we see a problem

Thanks again!

[2019-10-09 15:07] #785 closed

[2019-10-09 15:07] #790 closed

[2019-10-09 15:07] #822 closed

[2019-10-09 15:07] #826 closed

[2019-10-09 15:07] #827 closed

[2019-10-09 15:08] patrick-rodgers commented on #863
Fixed this, will be part of 1.3.6 out this Friday.

[2019-10-09 15:08] #863 closed

[2019-10-09 15:08] patrick-rodgers commented on #829
Fixed this, will be part of 1.3.6 out this Friday.

[2019-10-09 15:08] #829 closed

[2019-10-09 15:08] patrick-rodgers commented on #841
Fixed this, will be part of 1.3.6 out this Friday.

[2019-10-09 15:08] #841 closed

[2019-10-09 15:09] patrick-rodgers commented on #816
Closing this as answered. Thanks! If you have continued questions please open a new issue and reference this one.

[2019-10-09 15:09] #816 closed

[2019-10-09 15:27] patrick-rodgers commented on #847
Going to close this as answered. Thanks all!

[2019-10-09 15:27] #847 closed

[2019-10-09 15:44] amortsell commented on #659
Hi @popwarner,

Thanks for reaching out. All is well with me, but there has been a little
bit of a tough situation within the family for a few weeks so I haven't
been able to find any time to complete the issue yet. Things are looking
better again since earlier this week and I plan to pick up where I left off
rather soon, hopefully some night this or next week.

Regards

Anders

On Wed, Oct 9, 201

[2019-10-10 12:23] ValerasNarbutas commented on #666
Good day @PopWarner , i have totally missed your messages, i did started on this at the time i have asked, got distracted. Thanks for changing status. I had to do it myself, but forgot completely :(

[2019-10-10 13:16] patrick-rodgers commented on #844
Had a look and I am not able to recreate this with the information provided. The only line I can think would be a problem is:

[code]

But if you are passing a string that should be fine. Unless something is happening within the jwt library - are you able to debug a little deeper and help us hunt down the error?

[2019-10-10 13:44] patrick-rodgers commented on #858
Not sure how deeply you've tested this but how does this play with other versions. I.e. there is a published version already, I make some edits, and then save without publishing. Should your suggestion account for that case? If possible would be great if you can work out a full solution and submit a PR but will try and find time to work on this. Thanks!

[2019-10-10 14:10] shekhawatajit commented on #858
Hi Patrick,
I have not tested it with other versions.  Issue is that we are not using the role of PromotedState=1 in SharePoint News lifecyle and News cannot be used with Modern News Webpart.
Can we have a skype call so that I can explain the use cases in details, it will take 10-15 minutes.
Meanwhile I am working on solution and will submit a PR.
Thanks and Regards,
Ajit

[2019-10-10 21:18] eariel opened #872 "pnp.sp.profiles.myProperties.get() has a wrong URL - 404 error"
Category
- [ ] Enhancement
- [] Bug
- [ ] Question
- [X] Documentation gap/issue

 Version

@pnp/pnpjs: version 1.3.5
SharePoint Online with framework 1.8.2

I have an extension to collect data from user and page information and send it to Analytics application.
This extension has been working fine, but for some reason I don't know, the request URL  has changed and I receive a 404 error.

Steps to

[2019-10-11 09:02] KEMiCZA commented on #872
What's your import declaration for the **pnp** object like?

See the following documentation on how to correctly setup your SPFx context: https://pnp.github.io/pnpjs/documentation/getting-started/

Try the following:

[code]

[2019-10-11 09:18] KEMiCZA commented on #872
I've also noticed you're using the pnpjs package. AFAIK you shouldn't be using this library/package, as stated in the documentation: https://github.com/pnp/pnpjs/blob/dev/packages/pnpjs/docs/index.md

Try installing and using the default packages:
[code]

[2019-10-11 10:01] eariel commented on #872
Sorry, I forgot to provide that line.
My declaration for pnp is:

import * as pnp from '@pnp/pnpjs';

[2019-10-11 13:28] patrick-rodgers commented on #858
I am not able to join a call for issues - but I understand what you are saying, was more just asking how deeply you'd tested it beyond the single case. If you have time for a PR that is great, otherwise we'll let it open so we don't forget. I will mark it in progress. Thanks!

[2019-10-11 13:30] patrick-rodgers commented on #872
Can you share a repo we can clone and see this issue? It is very much that the context or url is not getting set correctly. There hasn't been a change in the library around this functionality so likely something was updated within your application.

[2019-10-11 14:17] eariel commented on #872
My first attempt to work with this library was using this example:
https://www.c-sharpcorner.com/article/retrieve-user-profile-properties-using-spfx-and-pnp-js-in-sharepoint-online/

I've customized this solution and now I have the same issue. @patrick-rodgers  as you said, I'm not sure if something has changed, but not in my solution, I'm thinking something at tenant level, like profile or securi

[2019-10-11 14:18] akt2006 commented on #292
can we set the scope to sub site in the path. I am trying to specify the path to sub site but result is coming from other sub site in the same site collection.

[2019-10-11 14:31] patrick-rodgers commented on #872
The wrong url is for sure because something isn't getting setup correctly, i.e. with the placement of the setup function. If I test the method you are trying to use it works as expected - so this is something to do with your solution. Can you post the code in a repo? Downloading and extracting a random zip file isn't my favorite way to work, nothing personal.

[2019-10-11 15:55] garrytrinder opened #874 "Docs: Broken sample for getItem"
### Category
- [ ] Enhancement
- [ ] Bug
- [ ] Question
- [X] Documentation gap/issue

There is a broken code sample in the docs for getItem

![image](https://user-images.githubusercontent.com/11563347/66666073-c72da000-ec47-11e9-909c-85a3bb187adf.png)

https://pnp.github.io/pnpjs/sp/docs/files/#getitem

[2019-10-11 23:45] PopWarner commented on #666
Hi @ValerasNarbutas! :) No problem. It looks like you are working on this one again, is that correct?

If so, I can go ahead and remove the "help wanted" label and re-apply the "in progress" label.

Thanks and looking forward to your reply. 👍

[2019-10-13 14:01] Nagarajan1605 commented on #364
Hi  koltyakov,
 $pnp.sp.web.lists.getByTitle("testlist").items.getById(8).get().then(function(results){
results.breakRoleInheritance(false);
});

After executing this i want to assign permission for this individual item. Need to assign some groups and individual users. Could you please assist me.

[2019-10-13 14:18] Nagarajan1605 opened #876 "Break inheritance while item creation and assign permission to group"
Hi Team,,
I already referred this below url
SharePoint/PnP-JS-Core#804 but while executing i am getting promise pending. Below i have given my code.

$pnp.sp.web.lists.getByTitle("testlist").items.getById(8).get().then(function(results){
results.breakRoleInheritance(false);
});

$pnp.sp.web.lists.getByTitle("test").items.add({

	test1:test,
	test2:test,
	test3:test

}).then(function(resultdata){
_

[2019-10-13 20:40] koltyakov commented on #876
Hi @Nagarajan1605,

You already pointed to the answer to your question.
Items' permissions in terms of API are no difference to list or other SharePoint artifacts.
However, the mistake is using the results for chaining `breakRoleInheritance`, it should be chained with getting an item by id or result's item instead. I'd encourage using types to avoid such questions, which are just answered by TypeS

[2019-10-13 20:40] #876 closed

[2019-10-14 09:06] KEMiCZA commented on #872
@eariel the zip you provided contains no setup code for PnPjs in the **GetUserProfilePropertiesWebPart.ts** file? Also you said it's an application customizer, but the code you provided is a webpart.

For reference this is the code from the **GetUserProfilePropertiesWebPart.ts** file:

[code]

[2019-10-14 13:04] jrwiller13 commented on #603
@williamyinssw For our purposes, we have a bunch of service accounts that we use for our automated processes so unfortunately, I went that avenue for our Node.js processes.

[2019-10-16 02:57] kmprasad4u commented on #869
I will get a repo ready in some time...

[2019-10-16 08:07] johannes-z opened #877 "renderListDataAsStream function should allow an option to set URL query parameters"
References https://github.com/pnp/pnpjs/issues/723

### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.6]

Please specify what version(s) of SharePoint you are targeting: [SPO]

*If you are not using the latest release, please update and see if the issue is resolved before submitting an

[2019-10-16 21:23] dcashpeterson commented on #635
I'd like to help take this one on.

[2019-10-16 21:23] juliemturner commented on #635
Thanks @dcashpeterson

[2019-10-16 21:57] PopWarner commented on #635
You rock @dcashpeterson! Thank you! 👍

[2019-10-17 07:59] MadhuriHM opened #880 "getListItemsWithCAMLQuery not returning data in modile browsers"
### Category
- [ ] Bug

### Version

Please specify what version of the library you are using: [         ]

Please specify what version(s) of SharePoint you are targeting: [   SharePoint Online      ]

### Expected / Desired Behavior / Question
The method sp.web.lists.getbytitle(listname).getListItemsWithCAMLQuery(camlQuery,field) should ideally return the list items filtered based on the caml que

[2019-10-17 12:42] eariel commented on #872
https://github.com/eariel/GetUserProfileTestWP

[2019-10-17 12:47] eariel commented on #872
@KEMiCZA  yes, I've provided a webpart because my extension is part of a project with other componentes and some sensitive information about my client... I don't want to change that project to remove or change that.

This webpart was my first contact with the pnpjs library, and I used this simple example to test the method, and it worked fine!

Right now, both (extension and webpart) have the same

[2019-10-18 15:47] dcashpeterson commented on #641
I can take this on.

[2019-10-18 15:50] PopWarner commented on #641
@dcashpeterson you're on fire! Thank you...you rock! 👍

[2019-10-18 17:05] ValerasNarbutas commented on #666
Hi @PopWarner ,
yes sure, i was just trying to upload old code i had from summer :)
I will try to complete task this time.

[2019-10-20 06:05] ymihir opened #882 "No documentation for MS Graph API for SharePoint all list/library operations"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

I am not able to see the documentation for SharePoint list, library operations with MS Graph API. Also are there any limitations with Graph API for SharePoint lists,

[2019-10-22 09:13] monkey-butler opened #884 "Unable to get Terms from Taxonomy TermStore due to CORS"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!
### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [   1.3.

[2019-10-22 16:36] pensphreak commented on #498
Has this issue ever been resolved? It still happens to me

[2019-10-22 18:16] ncmadhan1989 commented on #498
Change everywhere to 2.2.4 and download the zip file of 2.2.4 and replace in nodemodules hope this will helps you

[2019-10-22 18:18] pensphreak commented on #498
I did that, then I remove node_modules and npm install again.  package-lock.json updates itself again to 2.2.2 and the problem continues

[2019-10-22 18:43] ncmadhan1989 commented on #498
Dont use npm install,just follow what i said,change 2.2.4 everywhere in pakage lock.json and download 2.2.4 zip files and replace in nodemodules folder

[2019-10-23 19:16] campuslane opened #886 "Create Lookup Field that allows Multiple Values"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2019-10-24 05:36] ValerasNarbutas commented on #633
@PopWarner / @patrick-rodgers  Morning guys,
i can help with this one.

[2019-10-24 10:00] MadhuriHM commented on #880
I have checked the code again, but it is not working in mobile browser (works fine on desktop).
Also if I replace the method with the below method it works in mobile as well. Is there any difference between getListItemsWithCAMLQuery and this method?

sp.web.lists.getbytitle(listname).items.filter(filter).get()

[2019-10-24 10:06] MadhuriHM opened #887 "How to filter list items based on managed metadata field value"
### Category
- [ ] Question

### Version

Please specify what version of the library you are using: [         ]

Please specify what version(s) of SharePoint you are targeting: [   SharePoint Online  ]

### Expected / Desired Behavior / Question
I want to use the below method to get list items based on a value of a managed metadata field.
sp.web.lists.getbyid(listid).items.filter(filter).get()
Wha

[2019-10-24 11:36] vipuliflex commented on #355
@patrick-rodgers Facing issue in saving multi-value managed metadata even with the logic described above "Updating the hidden field conatining ManagedMetadata field strimg value" using REST API/Pnp JS failed if field have space in display name while creation. This is a long time issue please help as i stucked with it for quite a long time.

[2019-10-24 12:47] patrick-rodgers commented on #633
Hi @ValerasNarbutas - great, I have a huge set of changes I plan to merge later today, so you'll want to pull latest after I do. You can track #888 to see when it is merged.

[2019-10-24 13:09] ValerasNarbutas commented on #633
Thanks @patrick-rodgers , i can wait.
just for the interest does tour changes also include debug/launch/main.ts file? some commended out code for deletion test sub-sites does not really work.

[2019-10-24 13:17] PopWarner commented on #633
Thanks for the help @ValerasNarbutas! You rock! :)

[2019-10-24 13:41] patrick-rodgers commented on #633
LOL, ok. Can you be any more specific? I can add that to my list of 400 other things I need to get to. Or if you see an opportunity to improve/fix something please do.

[2019-10-24 14:19] ValerasNarbutas commented on #633
i might just update it, and my mistake its test/main.ts commented cleanUpAllSubsites() function.
i get error like:
1) "before all" hook in "{root}":
     TypeError: global.fetch is not a function
but most likely its just order where function cleanUpAllSubsites() is called.

[2019-10-24 14:28] ValerasNarbutas commented on #633
no, you guys rock :)

[2019-10-24 15:47] patrick-rodgers commented on #637
I am going to go ahead and take this one over so I can get the tests written and close it out. Thanks!

[2019-10-24 16:04] vipuliflex opened #889 "Updating multi value Managed metadata field failed with REST API and pnp taxonomy methods"
@patrick-rodgers Facing issue in saving multi-value managed metadata even with "Updating the hidden text field conatining ManagedMetadata field string value" using REST API/Pnp JS failed if field have space in display name while creation and if taxonomy field is created without space then PnP JS methods and REST API  methods are working fine.This is a long time issue please help as i stucked with

[2019-10-24 17:36] patrick-rodgers commented on #661
Going to grab this one to close it out. For some of the issues raised feel free to open a new issue to discuss - will keep this focused on completing the sub-module.

[2019-10-24 19:44] enti333 opened #890 "Get All Items from a List subfolder"
- [ ] Enhancement
- [ ] Bug
- [X] Question
- [ ] Documentation gap/issue

Hello. Please I need some little help. I want to get all items from a List (not Document Library) subfolder. I was thinking if something like this will not work.
sp.web.getFolderByServerRelativeUrl("/Audits/Lists/Cases/").expand("Items").get().then

I know it is working for Folders also for Files but not for items.... Hmm...

[2019-10-24 20:08] patrick-rodgers commented on #889
Hi @vipuliflex - this isn't really enough to go on, can you share a repo we can clone to see the issue easily? We need to be able to reproduce it so we can debug and ensure it is fixed. Otherwise we are just guessing. Thanks!

[2019-10-24 20:12] koltyakov commented on #890
Hey @enti333,

You can try filtering based on `FileDirRef` property:

[code]

Within a filter or CAML condition, the filtering should be applied based on the indexed field(s) and the resulted dataset should be less than 5000 (after filtering on a first cond) to request work in a large list. See the API reference for the case of the large lists.

[2019-10-24 20:13] patrick-rodgers opened #891 "v2 beta punch list"
This issue will track the remaining items for the v2 beta release. If you have other items you are not sure will be addressed please comment here, but understand we are not looking to take on major new features before the beta. If you have ideas for larger changes you think would be beneficial please open a new issue as normal and we can consider it for future releases. Thanks!

## TODO

- [ ] Fig

[2019-10-24 20:13] patrick-rodgers opened #892 "v2 beta punch list"
This issue will track the remaining items for the v2 beta release. If you have other items you are not sure will be addressed please comment here, but understand we are not looking to take on major new features before the beta. If you have ideas for larger changes you think would be beneficial please open a new issue as normal and we can consider it for future releases. Thanks!

## TODO for beta

[2019-10-24 20:19] johannes-z commented on #877
Another reason is the `InplaceSearchQuery` query parameter. To use it, you have to do something like this:

[code]

[2019-10-24 20:30] patrick-rodgers opened #893 "v2 Release Punch List"
A placeholder issue to track things we want to do before the release but aren't absolutely required for the initial beta.

## TODO

- [x] Improve security docs
- [x] Clean up all the old files/folders within the packages directory
- [x] Fix sp/items docs
- [x] Close out project tasks
- [x] Ensure attribution in authors file for all v2 changes
- [x] Update issue templates using new choose a templat

[2019-10-24 20:31] enti333 commented on #890
Hello Andrew. Thank you for your help. So This will work also for big list(more then 20 000 items) if in "SubFolder01" is not more then 5000 items? Thank you very much for you help.

[2019-10-25 06:19] roybselim opened #895 "/_api/contextinfo URL issue."
### Category
- [ ] Enhancement
- [ x ] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version
Please specify what version of the library you are using: [  1.3.6   ]

Please specify what version(s) of SharePoint you are targeting: [    SharePoint Online     ]

### Expected / Desired Behavior / Question
I am using sp/pnp to query taxonomy terms in SPFx webpart. When the URL does not have a tr

[2019-10-25 06:33] koltyakov commented on #890
Sure thing, NO! A view after applying the first filter condition must be less than the throttling limit.

[2019-10-25 06:36] koltyakov commented on #895
In SPFx, the context should be established. Did you try following [this](https://pnp.github.io/pnpjs/documentation/getting-started/#establish-context) docs article?

[2019-10-25 08:05] roybselim commented on #895
Hello kolyatov,

This resolves the issue. Thanks for pointing me to the right direction.

[2019-10-25 08:05] #895 closed

[2019-10-25 08:19] ValerasNarbutas commented on #666
Hi @patrick-rodgers
i have submitted pull request for this again (i cannot point to the issue #666 looks like), just adding documentation with some examples and minor fix in test/mian.ts file.

[2019-10-25 13:13] enti333 commented on #890
Hello Andrew. Sorry Andrew but I do not understand it ....
When I use this Code in list which has more then 5000 items
sp.web.getFolderByServerRelativeUrl("/Audits/Lists/Cases/").expand("Folders").get().then
It will work for me without any problem
I was thinking if there is not such function
sp.web.getFolderByServerRelativeUrl("/Audits/Lists/Cases/").expand("**Items**").get().then
Which will also

[2019-10-25 13:26] koltyakov commented on #890
FileDirRef should have been an indexed field (at least it was before if I'm not mismatching) but it's not anymore. Yeah, it's not a helper in a large list.

Can suggest trying another approach with `renderListDataAsStream`:

[code]

Will it help?

[2019-10-25 13:39] sympmarc commented on #890
Any approach to get more than 5000 items means paging your requests. Even a method like .getAll is going to be wrapping something which is doing the paging. If you want more than 5000 items, it simply is going to take longer.

If you can add a filter to your request to only get the items you need, you should. This is ALWAYS true - if you want your application to perform well. (Selecting only the c

[2019-10-25 18:13] patrick-rodgers commented on #659
I went ahead and completed the tasks for this one, no worries. Once you've got some time there will always be plenty to help out with :). Thanks for your interest and look forward to working with you.

[2019-10-25 18:37] amortsell commented on #659
Thanks a lot, Roger. I'm sorry not being able to complete the tasks. When
things calm down at work I will try to find something else to contribute
to.

Regards

Anders

On Fri, Oct 25, 2019, 20:13 Patrick Rodgers <notifications@github.com>
wrote:

[2019-10-25 20:03] escobar5 opened #896 "Cannot set a Geolocation Field value from Node"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Latest.
Sharepoint Online

### Expected / Desired Behavior / Question
Should be able to add a List Item with a SPFieldGeolocationValue

### Observed Behavior
If I try to add a ListItem with a  SPFieldGeolocationValue, I get this error:

Error: Error making HttpClient request in queryable [400] Bad R

[2019-10-25 20:16] enti333 commented on #890
Hello Andrew. Thank you very much your code it helps a lot. It is working also on big list....Andrew I can not find some text about this method renderListDataAsStream ...I don't know how it works and why it works?:) Yes my last chance was that I will create custom column and after the folder is created I insert the URL to folder in this custom column and I index this field...but your solution work

[2019-10-25 20:29] koltyakov commented on #896
Hi @escobar5,

Can't see any bug related to the Geolocation field type, the wrong payload can't be classified as a bug. =)

This works for me, please try without `"__metadata":  {"type": "SP.FieldGeolocationValue"}`:

[code]

[2019-10-25 21:38] escobar5 commented on #896
@koltyakov, thanks for your response. You're right I should have marked it as a question 😬

I've tried without metadata, but I get this error:

[2019-10-25 23:44] escobar5 commented on #896
It was my bad, I was mistaking the type of field. I was trying to set the value to a field of the new type **Location** of modern SPO Sites. The value of those sites is a JSON Blob like this:

Thanks for your help

[2019-10-25 23:44] #896 closed

[2019-10-28 06:59] enti333 commented on #890
I was testing this and I was thinking it is working:)and yes it is working but only with first 5000 items....
So if in my subfolder are items on more then first 5000 "position" the renderListDataAsStream doesn't work because the renderListDataAsStream is working only with first 5000 items in list...so it again return my nothing....This is very strange @koltyakov ...I try to specify the caml query

[2019-10-28 07:12] koltyakov commented on #890
If in a view is more than throttling limit it throttles. I guess it was written here at least three times. =)
I suggest closing the issue, that it's not about the library but the structure of the queries and dealing with the standard SharePoint limitations. And there are tons of articles about how to overcome the large lists requests.

[2019-10-28 07:21] enti333 commented on #890
Sorry @koltyakov you don't understand me.... Caml is written that should return only 3 items...so the result should not be 5000 items but only 3 items....but caml is runned only on first 5000 items....so the problem is that caml query for renderListDataAsStream   is not runned on 20 000 items only on first (from ID) 5000 items.... Thank you...

[2019-10-28 07:23] enti333 commented on #890
It should be written somewhere that renderListDataAsStream is runned only on first 5000 items....Thank you for understanding.

[2019-10-28 07:34] koltyakov commented on #890
How do you know this? Do you use an indexed field as a *first condition filter* and after applying that *first condition* is it less than 5000 items?

There is pagination in this method as well, btw.

[2019-10-28 09:49] ValerasNarbutas commented on #633
hey @patrick-rodgers ,
i have checked #888 looks great but before merging this could you first review pull request #894 ?
it contains minor fix in test main.js and some documentation for site users. I do see you have changed a lot man, looking forward for the new version :)
Thanks,

[2019-10-28 12:04] sympmarc commented on #890
It might help if you post your CAML with the specific information about which items you want, @enti333. It sounds like your filtering isn’t set up to do what you’re trying to do.

[2019-10-28 13:06] patrick-rodgers commented on #633
@ValerasNarbutas - would likely need you to pull latest and merge your work in after I merge 888. Thanks.

[2019-10-28 13:12] ValerasNarbutas commented on #633
ok, @patrick-rodgers .
No worries than.

[2019-10-29 01:38] patrick-rodgers opened #900 "Help Testing v2 Beta"
# Help Wanted Testing the v2 beta

## Install

To install the v2 beta use `npm install @pnp/sp@beta --save`

## Test

We are looking for feedback in three main areas, though appreciate any feedback you have on v2. _For all issues_ please ensure you note in the title it is for v2 and include the beta version number. If you are not on the latest beta, please update to see if we may have already fixe

[2019-10-29 10:58] Harshagracy opened #902 "current logged in user has full control access or not using pnp js"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Expected / Desired Behavior / Question
I wanted to find out whether current logged in user has full control access.

This is my code:

[code]

It returns false for user who has full control access and present in owners group.

Any other way to find out this?

PS: I do not want to know whether he is SCA. I ca

[2019-10-29 11:25] ncmadhan1989 commented on #902
https://github.com/pnp/pnpjs/issues/489
look on it

import { sp, PermissionKind } from '@pnp/sp';

sp.web.select('EffectiveBasePermissions').get()
    .then(({ EffectiveBasePermissions }) => {
        return sp.web.hasPermissions(EffectiveBasePermissions, PermissionKind.ManageLists);
    })
    .then(hasPermissions => {
        console.log(hasPermissions ? 'Good to go...' : 'No way buddy!');
    }

[2019-10-30 12:32] KEMiCZA commented on #900
@patrick-rodgers should I refactor all .then() promise references in the documentation to async/await?

[2019-10-30 12:47] patrick-rodgers commented on #900
@KEMiCZA - yes, we tried to get most of them but I am sure some where missed. I have a todo around fixing up the items docs (welcome help there). The only place we can't use await is the batching examples - otherwise yes, please.

[2019-10-31 13:46] patrick-rodgers commented on #892
Closing this, we are good enough to launch the beta at this point. Will now move tasks to #893.

[2019-10-31 13:46] #892 closed

[2019-10-31 16:15] cluzier commented on #299
doesnt this just hide the error from occuring?

`--skipLibCheck | boolean | false | Skip type checking of all declaration files (*.d.ts).`

[2019-10-31 22:18] harrychen1 opened #906 "TypeError: Failed to fetch when attach files to SharePoint item"
### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [  1.3.2       ]

Please specify what version(s) of SharePoint you are targeting: [   SharePoint online      ]

*If you are not using the latest release, please update and see if the issue is resolved before submitting an issue.*

### Observe

[2019-11-01 06:09] Savanoop95 commented on #853
you can't use skip in @pnp/graph, you can get the nextUrl by passing new JSONParser() in the get() as a parameter

[2019-11-01 06:14] koltyakov commented on #906
@harrychen1 If I got you right. Nope, PnPjs is the client-side library, we can not add anything to SharePoint API responses headers, we only make consuming the API nicer and easier.

[2019-11-01 13:10] patrick-rodgers commented on #906
@harrychen1 - yes looking at this and the SO article you linked the fix is required on the server side. We can't control what/how cookies are sent from the client. You could report this as well to the [sp-dev-docs repo](https://github.com/SharePoint/sp-dev-docs). Sorry this caught you but unfortunately not within our power to fix.

[2019-11-01 13:47] #650 closed

[2019-11-01 13:47] #651 closed

[2019-11-01 13:47] #652 closed

[2019-11-01 13:47] #653 closed

[2019-11-01 13:47] #654 closed

[2019-11-01 13:47] #655 closed

[2019-11-01 13:47] #656 closed

[2019-11-01 13:47] #657 closed

[2019-11-01 13:47] #658 closed

[2019-11-01 13:47] #659 closed

[2019-11-01 13:47] #660 closed

[2019-11-01 13:47] #661 closed

[2019-11-01 13:47] #662 closed

[2019-11-01 13:47] #663 closed

[2019-11-01 13:47] #664 closed

[2019-11-01 13:47] #665 closed

[2019-11-01 13:47] #666 closed

[2019-11-01 13:47] #667 closed

[2019-11-01 13:47] #668 closed

[2019-11-01 13:47] #669 closed

[2019-11-01 13:47] #670 closed

[2019-11-01 13:47] #671 closed

[2019-11-01 13:47] #672 closed

[2019-11-01 13:48] #673 closed

[2019-11-01 13:48] #674 closed

[2019-11-01 13:48] #369 closed

[2019-11-01 13:48] #403 closed

[2019-11-01 13:48] #519 closed

[2019-11-01 13:48] #527 closed

[2019-11-01 13:48] #622 closed

[2019-11-01 13:48] #625 closed

[2019-11-01 13:48] #626 closed

[2019-11-01 13:48] #627 closed

[2019-11-01 13:48] #628 closed

[2019-11-01 13:48] #630 closed

[2019-11-01 13:48] #631 closed

[2019-11-01 13:48] #632 closed

[2019-11-01 13:48] #634 closed

[2019-11-01 13:48] #635 closed

[2019-11-01 13:48] #636 closed

[2019-11-01 13:48] #637 closed

[2019-11-01 13:48] #638 closed

[2019-11-01 13:48] #642 closed

[2019-11-01 13:48] #643 closed

[2019-11-01 13:48] #644 closed

[2019-11-01 13:48] #645 closed

[2019-11-01 13:48] #646 closed

[2019-11-01 13:48] #647 closed

[2019-11-01 13:48] #648 closed

[2019-11-01 13:48] #649 closed

[2019-11-01 13:48] #313 closed

[2019-11-01 13:49] patrick-rodgers commented on #772
This is fixed in v2 and we won't back port the fix to v1 as it is tied into the escaping query strings all up.

[2019-11-01 13:49] #772 closed

[2019-11-01 14:12] patrick-rodgers commented on #882
Hi @ymihir - any reason you don't want to use the sp library which already supports all of these actions?

For the graph library if you have some time we welcome contributions but expanding our graph coverage is not our current priority.

[2019-11-01 15:56] harrychen1 commented on #906
This is ok. I found a way to fix the issue from our end.

[2019-11-01 15:56] #906 closed

[2019-11-01 16:05] patrick-rodgers commented on #872
The [webpart code you posted](https://github.com/eariel/GetUserProfileTestWP/blob/master/getuserproperties/src/webparts/getUserProfileProperties/GetUserProfilePropertiesWebPart.ts) does not seem to include the onInit setup function as [outlined in the docs](https://pnp.github.io/pnpjs/documentation/getting-started/#getting-started-with-sharepoint-framework)? Can you try adding it and see if that r

[2019-11-03 02:41] kmprasad4u commented on #869
@patrick-rodgers
Sorry I forgot raising the question.
Here is a sample
https://github.com/kmprasad4u/SPFx-Library-Service-Sample

[2019-11-04 14:17] robiharid opened #908 "Get all list titles in Site"
This shows how to get list items once given a list title (https://pnp.github.io/pnpjs/sp/docs/items/)

I want a PropertyPaneDropdown to allow the client-side to select between lists that exist on the site... is there anyway to do this?

[2019-11-04 14:45] koltyakov commented on #908
Just get the lists queryable collection:

[code]

[2019-11-05 20:21] patrick-rodgers commented on #908
Closing this as answered. Thanks @koltyakov!

[2019-11-05 20:21] #908 closed

[2019-11-05 20:32] patrick-rodgers commented on #285
For folks who may still be interested in this topic the work in v2 and [invokable](https://github.com/pnp/pnpjs/blob/dev-v2/docs/concepts/invokable.md) [default actions](https://github.com/pnp/pnpjs/blob/dev-v2/packages/sp/sharepointqueryable.ts#L156) should enable the needed functionality as discussed in this thread. Check it out and feel free to ask any questions, thanks!

[2019-11-05 21:52] jmflanders1964 opened #909 "creating webparts with pnp/js"
I am trying to create a sharepoint page that contains a webpart which contains some text and images. I am trying to do this using pnp/js. I have been able to create a page using pnp/js, but I can not determine how to create the webpart with the text and images. If you can give me some pointers that would be greatly appreciated.

[2019-11-06 06:33] CarlosMunozDiaz opened #910 "Using ClientSidePage: Cannot read property '_url' of undefined"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [   1.3.6    ]

Please specify what version(s) of SharePoint you are targeting: [   Online    ]

### Expected / Desired Behavior / Question

I want to access to a Client-side page webpart with pnp/sp in a React-SPFx project and I do it with t

[2019-11-06 13:13] robiharid opened #911 "sp web 404 when web part is deployed"
[code]

The call works on localhost and on tenant site  /layouts/15/workbench

Fails when I have deployed using the app catalogue.

`
  console.log('sp  ', sp.web.lists.get());` returns promise rejected

[2019-11-06 13:19] koltyakov commented on #911
https://pnp.github.io/pnpjs/documentation/getting-started/#using-pnpsp-setup

[2019-11-06 14:07] patrick-rodgers commented on #909
I would start with the docs which have [an example for adding a web part](https://pnp.github.io/pnpjs/sp/docs/client-side-pages/#add-client-side-web-parts). If you can work through that example I think you will understand the process. Beyond that if you have more specific questions we can try and assist. Thanks!

[2019-11-06 14:12] patrick-rodgers commented on #910
Hi @CarlosMunozDiaz - understand you can't share all your code but its tough to really understand what is happening. Does your file name or path happen to have any special characters in it? The code you do show should work just by looking at it and does if I test it locally. Also, are you [establishing context](https://pnp.github.io/pnpjs/documentation/getting-started/#getting-started-with-sharepo

[2019-11-06 14:17] robiharid commented on #911
Thanks @koltyakov ! Please close

[2019-11-06 14:20] #911 closed

[2019-11-06 15:07] robiharid opened #912 "sp unable to retrieve publishing image"
I have a list with a profile image, which is the type `Publishing Image`. I do not see this as a property of my list item.

I looked up the docs and saw that I had to do differently for publishing-related fields: https://pnp.github.io/pnpjs/sp/docs/items/

Do I have to change the regex match from /PublishingPageImage:SW -> /PublishingImage?
I would like to select all properties as I want the user

[2019-11-06 15:30] patrick-rodgers commented on #912
Publishing fields are just different and I am not aware of a way to not have two calls. You would need to try it out and see, not sure off the top of my head what the right field name would be, but I think that pattern should still work for you.

[2019-11-06 15:34] robiharid commented on #912
Thanks but the regex matches `FieldValuesAsText.MetaInfo`, which for me, when console logged, doesn't exist `
        console.log(r[i].FieldValuesAsText.MetaInfo);`

Like I show in the OP, the metainfo property is empty - how do I expand on the Publishing Image field?

[2019-11-07 10:02] TazzyMan opened #914 "Underlying SPFx token provider occasionally hangs without resolving or rejecting"
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version
@pnp/pnpjs ~1.3.3
SharePoint Online - SPFx

I didn't update yet, but based on the source code I can see the issue isn't resolved yet

### Expected / Desired Behavior / Question
Get token from SharePoint and either fail or succeed

### Observed Behavior
Token is requested and promise never returns, ki

[2019-11-07 17:10] patrick-rodgers commented on #914
Hi @TazzyMan - if I am understanding you correctly the issue is contained within the SPFx aadTokenProviderFactory? If so there isn't much we can do to fix that, but you could report that issue to the [sp-dev-docs issues list](https://github.com/SharePoint/sp-dev-docs/issues).

That being said, we could add a timeout here to produce an error if we don't get back a token within some amount of time -

[2019-11-07 17:43] TazzyMan commented on #914
Hello Patrick,

As a matter of fact I already resolve the issue with a timeout, but there are cases where it takes up to 70 retries to get that token, which each a 1000ms delay, so I'd rather have the exception.
When I look at the code I miss a .catch() in both the call to getTokenProvider() and getToken() and there are no means of rejecting the promise. I didn't have time to test it yet, so that

[2019-11-07 18:03] patrick-rodgers commented on #914
Not sure I follow that, if there is an error you have the ability to handle and catch it yourself. In the current method we return to you the promise chain. You can then use .catch or try..catch with await to get any errors. I thought the issue was that nothing was returned because the method didn't produce and error OR a result. Adding extra .catch calls into the the chain wouldn't fix that issue

[2019-11-07 18:35] TazzyMan commented on #914
Hello Patrick,

When in this case the getTokenProvider() fails, this isn't communicated in the promise. The promise isn't rejected and therefore the promise dies because of that (no resolve or reject). When it succeeds getToken() is returned, which by itself is a promise, so that one could communicate a failure when needed.
The code above was an example of gracefully handling all the promises, but

[2019-11-08 07:10] KEMiCZA commented on #914
@TazzyMan @patrick-rodgers I created a PR for this. Can you review if this would solve the problem. I did not have time to test the code, but I assume this is what TazzyMan was trying to describe.

[2019-11-08 08:12] TazzyMan commented on #914
@KEMiCZA As far as I can see this would fix the problem. It's true that async / await does exactly the same as .then() and .catch(), but it does so automatically. Even when you don't explicity catch the error. The real problem is when getTokenProvider() would fail. There is no .catch() and reject() in the original code. At this moment I cannot tell which promise fails, because packages are minifie

[2019-11-08 08:23] KEMiCZA commented on #914
@TazzyMan I closed it because the code would output the same

[2019-11-08 08:36] TazzyMan commented on #914
@KEMiCZA

But AFAIK that is not the case. When getTokenProvider() fails the promise will die in the old code. The new code resolves that because async/await always rejects the promise when an exception occurs.
A different approach would be to add a .catch() to the getTokenProvider() and make the promise capable of resolving and rejecting the promise (see my example). In that case the output would

[2019-11-08 13:57] patrick-rodgers commented on #914
I am not sure how to be clearer about this but that entire function outputs a promise, which is the combined chain of those two calls. Then ".then" construct chains all that together - any error at any point in the chain would produce a catchable error. Meaning if there is an error and you have a ".catch" or are using try/catch and await pattern you will catch it in your code. Rewriting the method

[2019-11-08 16:14] patrick-rodgers commented on #877
Added this for release in 1.3.7, usage will be:

[code]

[2019-11-08 17:09] #858 closed

[2019-11-08 17:09] #877 closed

[2019-11-08 17:17] patrick-rodgers commented on #902
Going to close this as answered, please open a new issue and reference this one if you are still having trouble. Thanks!

[2019-11-08 17:17] #902 closed

[2019-11-08 17:21] patrick-rodgers commented on #880
One of those methods executes a POST and the other does a GET. There should be no behavior difference in the library between clients, and if you see a difference it might be particular to your device and its configuration. Unless you can provide a clear error with more details than "doesn't work in mobile" there isn't anything we can do to help.

[2019-11-08 17:22] patrick-rodgers commented on #872
Closing this as answered. If you continue to have issues after adding the appropriate setup code please open a new issue, link this one, and provide any new details you can. Thanks!

[2019-11-08 17:22] #872 closed

[2019-11-09 16:39] spvjebaraj opened #917 "Not able to view SharePoint site in Safari - CROSS-ORIGIN Script Error"
Hi,
I am working in Angular 8 along with PnP js. The site is not opening in Safari Browser. Also in iOS devices, the site is not opening in any browsers. I am getting the below error in console. I am using the below configuration and list fetch code.

"**cross-origin script load denied by cross-origin resource sharing policy**"

`constructor() {
    const config: SPConfiguration = {
      sp: {

[2019-11-11 10:25] robiharid opened #918 "Get column display name instead of internal name"
I am displaying the properties of a list item to the user, user-created columns with a space have character codes like x0020 to denote a space.

How can I display the user friendly name with a space instead of the charactor code?

`sp.web.lists.getByTitle('Policies').get()`

[2019-11-11 10:30] koltyakov commented on #918
You can get list's or content type's fields and correspond OData Entity field name with a display name.

[2019-11-11 11:13] robiharid commented on #918
Thanks Koltyakov. Not sure where you find OData Entity Field Name property? This is what returns when I get an item in the list:

[code]

Do I need to look up the List itself and get the Field Name as a property of that?

List has a odata.metadata which is another link?

[2019-11-11 11:34] koltyakov commented on #918
Well... Something like this (to represent the idea and data relationship):

[code]

Hope this makes more sense.

[2019-11-11 11:54] robiharid commented on #918
Thanks again @koltyakov

The code works. However, it seems a little complicated for what we want to do - grab an EntityPropertyName and add it/remap onto the item object.

Couldn't we do something like this to make it easier to work with:
[code]

[2019-11-11 12:47] robiharid opened #919 "Read data from Person field in List"
I have a column in list that uses the Person data type.

How do I get the details of a person, like their email and number?

Item:
[code]

[2019-11-11 13:06] koltyakov commented on #919
You can expand People fields:

![image](https://user-images.githubusercontent.com/7816483/68589429-e6188f80-049c-11ea-8eea-a734f4b2ad92.png)

These should be expandable: Title, Name, EMail, MobilePhone, SipAddress, Department, JobTitle, FirstName, LastName, WorkPhone, UserName, Office, ID, Modified, Created, ImnName, NameWithPicture, NameWithPictureAndDetails, ContentTypeDisp.

The questions you k

[2019-11-11 13:06] #919 closed

[2019-11-11 13:08] robiharid commented on #919
Could you link me to the pnpjs forum?

As you can see, my data is not returning a Author field which is why I am asking how to get a hold of it?

[2019-11-11 13:13] koltyakov commented on #918
Oh, I dnk how I missed the tag. Of course, it's not in any kind of enhancement to the library but a question.

I consider this answered. During development, a SharePoint developer deals with internal/entity names and decide how to show display names, based on logic, localizations, API requests to fields metadata, etc.

The payload we return within PnPjs is mostly what is returned with REST API, fe

[2019-11-11 13:13] #918 closed

[2019-11-11 13:20] koltyakov commented on #919
You can always checkout the [SharePoint Developer Documentation](https://aka.ms/spdev-docs) for general development questions and the [MS Tech Community for Sharepoint](https://techcommunity.microsoft.com/t5/SharePoint-Developer/bd-p/SharePointDev) is a great place to ask for guidance from the community. [Gitter chat room](https://gitter.im/OfficeDev/PnP-JS-Core) also can be a helpful resource, co

[2019-11-12 05:01] PathToSharePoint opened #920 "[V2] Importing Web factory function"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [x] Documentation gap/issue

### Version

Please specify what version of the library you are using: [ v2beta ]

Please specify what version(s) of SharePoint you are targeting: [2016, online ]

### Expected / Desired Behavior / Question
Different instructions from the docs:
at https://pnp.github.io/pnpjs/documentation/v2-beta/transition-guid

[2019-11-12 07:40] TazzyMan commented on #914
Hello Patrick,

At the moment I'm unable to reproduce the error on my machine, but our customers are able to do it somehow. Anyway then maybe I understand promises incorrectly or they have changed since the last time I've worked intensely with promises in Typescript (now I mostly use await).
AFAIK a promise dies when it fails and doesn't call reject(). On the other hand, when reject() is called, b

[2019-11-12 14:37] patrick-rodgers commented on #917
The library should behave the same way across all browsers. If you are getting a CORS error it is likely you are trying to make calls from your URL to SharePoint, which does not support CORS. Regardless can you share more details around what you are doing and how so we can attempt to help? Thanks.

[2019-11-12 14:51] patrick-rodgers commented on #920
That's a weird one. I just tried it in an SPFx project and it worked as expected. Can you share exactly what version of the beta you tried? I just did it with the latest (@pnp/sp@2.0.0-13)

My sample code:

[code]

[2019-11-12 15:04] PathToSharePoint commented on #920
Thanks for the reply. I am on 2.0.0-13 and I'll try your code.

I see that you have included a line `import "@pnp/sp/lists/web";` which is not in the documentation samples. What is its role, and could that explain my issue?

[2019-11-12 15:09] patrick-rodgers commented on #844
Going to close this due to inactivity. If you continue to have an issue here please open a new issue, reference this one, and let us know you are still having trouble. Thanks!

[2019-11-12 15:09] #844 closed

[2019-11-12 15:12] patrick-rodgers commented on #920
That import adds the lists functionality to the web object, in this case the .lists property I happened to use in my example. Shouldn't be required if you just need web.

[2019-11-12 15:18] PathToSharePoint commented on #920
Dang that could actually be my issue. I thought I was good with sp and Web and would get the list functionality.

[2019-11-12 15:23] patrick-rodgers commented on #920
Not with the [new selective import model](https://pnp.github.io/pnpjs/documentation/v2-beta/concepts/selective-imports/). You can now control importing each piece. If we auto-import things then tree-shaking can't work. You can use the [core preset](https://pnp.github.io/pnpjs/documentation/v2-beta/concepts/selective-imports/#presets) to get the main functionality in one go.

[2019-11-12 15:45] patrick-rodgers commented on #912
I didn't catch the first time that you are using a publishing field outside of a pages library. Please see [this issue from awhile ago](https://github.com/SharePoint/PnP-JS-Core/issues/694#issuecomment-360190666) and see if that helps you out. That is for an older version of the library but the code should mostly be the same.

[2019-11-12 16:16] patrick-rodgers commented on #890
Going to close this due to inactivity. It appears the question was answered within the thread. Should you need more assistance here please open a new issue and link this one and let us know you're still stuck. Thanks!

[2019-11-12 16:16] #890 closed

[2019-11-12 20:34] patrick-rodgers commented on #889
Going to close this due to inactivity. If you are still blocked please open a new issue, link this issue and let us know you're still stuck with a few more details. Thanks!

[2019-11-12 20:34] #889 closed

[2019-11-12 21:35] patrick-rodgers commented on #886
You need to make two requests. As the error tells you the AllowMultipleValues is not available when you initially create the field.

[code]

[2019-11-12 21:36] #886 closed

[2019-11-12 21:40] patrick-rodgers commented on #884
This library cannot solve CORS issues which are enforced by the browser. You would need to look at your solution design and determine the best way to accomplish what you need. SPO does now support CORS requests.

[2019-11-12 21:40] #884 closed

[2019-11-13 13:16] olemp opened #921 "Support for setting metadata defaults for library"
Category
- [x] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: `1.3.7`

### Enchancement / Question
I'd like support for setting metadata defaults for library (updating client_LocationBasedDefaults.html in /Forms/ folder). Is this supported?

If it's not supported, I got the code ready (https://github.com/Pu

[2019-11-13 13:49] patrick-rodgers commented on #921
Sure, that's great. Probably as a method on folder?

[2019-11-13 13:52] olemp commented on #921
That's what I thought!

The `PnP-PowerShell` commandlet is `Set-PnPDefaultColumnValues` so probably something like this?

[code]

[2019-11-13 14:24] olemp commented on #921
.. but how can we access the list/library of a folder from the folder instance @patrick-rodgers?

We might also need access to the list to ensure the `ItemAdded` event receiver.

We need to `[LIBRARY_URL]/Forms/client_LocationBasedDefaults.html`.

[2019-11-13 14:56] TheIronCheek commented on #914
For what it's worth, I'm having a similar issue with AadTokenProvider and getToken(). getToken() stalls out intermittently and when it does so, no exception is thrown. The code just stops executing.

[2019-11-13 15:03] patrick-rodgers commented on #887
You need to use the getItemsByCAMLQuery method as filtering by MetaData columns is not supported by the $filter query.

[code]

[2019-11-13 15:03] #887 closed

[2019-11-13 15:08] patrick-rodgers commented on #914
@TheIronCheek - so you are confirming the behavior I was trying to document. As mentioned previously this should be reported in the [sp-dev-docs issues list](https://github.com/SharePoint/sp-dev-docs/issues). We could add a timeout so an error is generated within our library for these cases, but we can't fix the underlying cause.

[2019-11-13 15:19] TheIronCheek commented on #914
I mean, a timeout is something...

It'd be nice to know WHY it's timing out, though. Especially since it's so flaky. It works sometimes... but sometimes not. I don't want to hijack @TazzyMan's thread but for me, it seems related to inactivity. If I attempt to access the site after a period of inactivity, getToken() fails. If I refresh the page a few times, it'll start working again.

[2019-11-13 15:40] patrick-rodgers commented on #914
Sure - but that code lives within SharePoint Framework, not this library so we can not change it's behavior or analyze it. The only option available **to this library** is a timeout based error to catch when it hangs. If the external method returns nothing we have no information to go on. I will again encourage you to report this if you haven't to the [sp-dev-docs issues list](https://github.com/S

[2019-11-13 16:16] TheIronCheek commented on #914
I gotcha. I misunderstood what you were saying. Thanks for your help. I reported the issue with sp-dev-docs.

[2019-11-13 16:24] toblum opened #922 "Result of sp.utility.containsInvalidFileFolderChars() incorrect for some filenames"
### Category
- [ ] Enhancement
- [X] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.7]

Please specify what version(s) of SharePoint you are targeting: [Online]

### Expected / Desired Behavior / Question
If I'm correct, the function sp.utility.containsInvalidFileFolderChars() should return "true" for all given filename

[2019-11-13 17:45] ncmadhan1989 opened #923 "Pnp File upload"
Is pnp support file upload using blob or base64 format ??

[2019-11-13 17:54] patrick-rodgers commented on #922
Thanks, we'll have a look!

[2019-11-13 19:00] patrick-rodgers commented on #923
Yes.

[2019-11-13 23:11] PathToSharePoint commented on #920
@patrick-rodgers thanks for the help, it worked fine after I added the lists piece.

If I am not mistaken, there is still an error in the instructions on the webs page (link above), it should read:
`import { Web } from "@pnp/sp/webs";`

[2019-11-14 03:38] ncmadhan1989 commented on #923
Can you share the sample

[2019-11-14 06:58] koltyakov commented on #923
Yes.

[2019-11-14 08:10] koltyakov commented on #923
[Troll mode off]

![image](https://user-images.githubusercontent.com/7816483/68838302-57d81f80-06cf-11ea-90f8-2ac431a66c27.png)

[2019-11-14 08:56] ncmadhan1989 commented on #923
I have tried with blob and array buffer ,but file is not uploaded as expected,only blank image get uploaded

my sample
var myblobfile=  dataURIToBlob(datacol);
        sp.web.getFolderByServerRelativeUrl("/sites/SPCapabilityTeam/MadhanNC/PnpLibrary/").files.add("Madhans.jpeg", myblobfile, true).then(output => {
        });

  function dataURIToBlob(dataURI) {
    dataURI = dataURI.replace(/^data:/

[2019-11-14 09:25] koltyakov commented on #923
Not sure that your base64 to blob conversion is not causing the issue. Last time I converted base64 to Blob or ArrayBuffer I used the following:

[code]

[2019-11-14 09:27] koltyakov commented on #923
There is also a cheater way:

[code]

[2019-11-14 10:30] ncmadhan1989 commented on #923
No luck brother,still the save issue :(

[2019-11-14 10:51] robiharid opened #924 "sp web search query"
Would it be possible to use the built in sp web to query the tenant site?

I am trying to grab Delve blogs

tenantSite.com/_api/search/query?QueryText=%27SecondaryFileExtension:PointPub%27

[2019-11-14 13:11] patrick-rodgers commented on #924
Can you share the code you have tried that isn't working?

[2019-11-14 13:13] patrick-rodgers commented on #920
Yes that is a typo, will fix it. Thanks. Going to close this issue as resolved.

[2019-11-14 13:13] #920 closed

[2019-11-14 13:13] TazzyMan commented on #914
Hello @TheIronCheek  and @patrick-rodgers ,

Since TheIronCreek can reproduce the error without using pnpjs and, upto now,  I wasn't able to, we can safely assume aadTokenProvider causes the promise to die. I think we can close this issue then.
Thanks for all the help

[2019-11-14 13:13] #914 closed

[2019-11-14 16:11] JMTeamway opened #925 "graph.planner.tasks.add potential issue with assignments"
### Category
- [x] Bug

### Version
Please specify what version of the library you are using: [ @pnp/graph": "^1.3.7  ]
Please specify what version(s) of SharePoint you are targeting: [   online    ]

### Expected
I am creating a new Planner task with assignments.
After the function is executed, the task is created in Planner and the assignments are correctly added.

### Observed Behavior
The Task

[2019-11-14 16:47] JMTeamway commented on #925
@patrick-rodgers  :
Hi patrick, I saw you worked recently on this file, so I mention you on this comment, I hope it is ok to do so ...
Please have a look at this bug, I think I give enough informations to fix it within minutes ;-)

Thanks for all the good work you provide to the community !

[2019-11-14 17:35] PathToSharePoint opened #926 "[V2] Build in IE11 compatibility mode"
### Category
- [ ] Enhancement
- [x] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [2.0.0-13 ]

Please specify what version(s) of SharePoint you are targeting: [2016, Online]

### Expected / Desired Behavior / Question
I would expect the solution to transpile and work in compatibility mode when I add the following lines:
[c

[2019-11-14 19:03] patrick-rodgers commented on #926
Can you share the error?

[2019-11-14 19:38] PathToSharePoint commented on #926
@patrick-rodgers this is what I got (with specific paths removed). Maybe I should use the PnP logging module?
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build'
1 verbose cli ]
2 info using npm@6.12.1
3 info using no

[2019-11-15 10:05] ncmadhan1989 commented on #923
Any Update??

[2019-11-15 10:12] koltyakov commented on #923
I don't think there should be any update from our end, the issue is obviously on the end of decoding Base64 string. This is outside of the scopes of PnPjs. If the Blob or AffayBuffer are correct there should be no issues. I personally have hundreds of file upload cases with PnPjs in a browser and from Node.js.

[2019-11-15 10:18] ncmadhan1989 commented on #923
oh,but i tried with your code also(for converting),did u upload using AffayBuffer or blob??
from html element its working fine i.e(let myfile = (document.getElementById("newfile") as HTMLInputElement).files[0];
)

[2019-11-15 10:22] koltyakov commented on #923
I prefer Blobs.

[2019-11-15 12:05] ncmadhan1989 commented on #923
K ,thanq for ur replies and response :)

[2019-11-15 13:15] patrick-rodgers commented on #926
Ok, that error doesn't really help. Are you able to provide any more context around what you are doing?

[2019-11-15 13:38] patrick-rodgers commented on #925
Thanks @JMTeamway for your detailed analysis. Just out of curiosity since you've done so much work to investigate are you interested in submitting a PR to address this?

[2019-11-15 13:47] JMTeamway commented on #925
Hi Patrick, I’d love and would be honored to do so in fact 😊

The only reason I did not is that I am not sure how to test my fix.

-	I can clone the repository
-	I can (try to) fix the issue

Then
-	I would have to « build » the library maybe
-	Remove references to pnp/graph from my code (SPFX REACT Webpart)
-	Add a reference to my local version of pnp/graph

Then
-	I can do test and validate the

[2019-11-15 13:56] patrick-rodgers commented on #925
You already care by reporting the issue, that's great! If you need some help @PopWarner sometimes has time to assist folks with their first PR and can maybe help out. Appreciate it!

[2019-11-15 15:36] PathToSharePoint commented on #926
@patrick-rodgers just to confirm, are you saying that you are able to build successfully with the above code?
If you don't see any issue with my code, I'll do more testing on create-react-app and SPFx.
Right now I am just testing the above code, there is nothing else. The objective is to validate that I can do a build for an organization whose official browser is still IE11.

[2019-11-15 17:03] patrick-rodgers commented on #926
I am able to build the library in ie11 compat mode and run it. You haven't described full steps to reproduce the error, shared an error message we can act on, or shared a repo we can clone to test or reproduce. The error you shared is just the npm error saying the build failed - I don't see anything related to why the build failed or a message that points to something within this library.

[2019-11-16 04:22] PathToSharePoint commented on #926
I think I found my mistake. In the code above, I placed sp.setup right after the sp import, while I should have finished all the imports first :-(

[2019-11-16 04:22] #926 closed

[2019-11-18 06:08] kmprasad4u commented on #869
@patrick-rodgers
Any suggestions ?

[2019-11-18 12:55] ymihir commented on #882
I want to elevate the user privileges by using Graph API with respect to SharePoint. But if methods are there then why there is no documentation? or simply Graph API wont support them that is the reason no documentation available?

[2019-11-18 14:22] cjnanamurthy commented on #677
How to filter list Items with more than one Lookup field values??

Like..  Folder/SubFolder/Property eq Value

sp.web.lists.getByTitle('ALL_Files').items.select("*, Folder/Folders/Folders/Name").expand("Folder/Folders/Folders").filter('Folder/Folders/Folders/Name eq AD')

[2019-11-18 14:26] robiharid commented on #924
The problem is that the behaviour of the search API is not very consistent.

I published three blogs. 1/3 HitHighlightedSummary properties were null. When I updated another blog post, it went completely missing from the search API query.

The blog posts were all published consistently with the same Lorem Ipsum body and different titles./subtitles.

This is my code:

`return fetch(
    "https://car

[2019-11-18 19:41] patrick-rodgers commented on #633
Hello, wanted to check on the status on this item as it is on the list of required things to be done before v2 can release. Please let us know an update - and if you won't have time to work on it, no worries just focused on getting things finalized. Thanks!

[2019-11-18 19:41] patrick-rodgers commented on #639
Hello, wanted to check on the status on this item as it is on the list of required things to be done before v2 can release. Please let us know an update - and if you won't have time to work on it, no worries just focused on getting things finalized. Thanks!

[2019-11-18 19:41] patrick-rodgers commented on #641
Hello, wanted to check on the status on this item as it is on the list of required things to be done before v2 can release. Please let us know an update - and if you won't have time to work on it, no worries just focused on getting things finalized. Thanks!

[2019-11-19 04:25] spvjebaraj commented on #917
Hi Patrick,
Sorry for late reply.  I have written the service as separate ts file, in that I have imported the configuration and related details like below.

`import { CamlQuery, sp, ItemAddResult } from "@pnp/sp";
import { SPConfiguration } from "@pnp/sp/src/config/splibconfig";`

In the service file, I have used the below code to get the items from SharePoint list.

`export class ListDataService

[2019-11-19 08:50] johannes-z opened #930 "getChanges missing on Site object"
### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.7]

Please specify what version(s) of SharePoint you are targeting: [-]

### Expected / Desired Behavior / Question

`/_api/site/getChanges` should be available through Site.getChanges.

### Observed Behavior

[code]

`getChanges` does n

[2019-11-19 12:25] luisnjuarez opened #931 "Question - using react sp.web opens root site and not current sub web"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [Docs](https://pnp.github.io/pnpjs/) to see if your question is already addressed there. This will help us ensure our documentation covers the

[2019-11-19 14:01] patrick-rodgers commented on #930
Just curious, why mark this as a bug? We can certainly look at adding this functionality but wouldn't that classify as a enhancement?

[2019-11-19 14:14] johannes-z commented on #930
I marked it as an enhancement instead. I though it might have been an initial oversight, i.e. forgotten to be implemented.

[2019-11-19 14:45] patrick-rodgers commented on #869
Hi @kmprasad4u - sorry for delay, been a busy period for me. Thank you for the example - yes your workaround is perfectly valid and I think is probably the easiest way to move forward. If you look at the source we do what you are doing (read the url) but your use the baseUrl overrides that and uses the value you specify. At the end of the day the same thing is happening.

I wasn't aware you could

[2019-11-19 15:18] robiharid opened #932 "SPHttpClient access external url"
How do I setup SPHttpClient properly?

`import { sp, SPHttpClient } from "@pnp/sp";
`
`
  const client = new SPHttpClient();

  client
    .get(
      feedUrl,
      {
        headers: {
          Accept: "application/json;odata=verbose"
        }
      } /* as FetchOptions, but this is not required */
    )
    .then(res => {
      console.log("res is ", res.text());
      // (res: Response) Fetc

[2019-11-19 16:59] patrick-rodgers commented on #869
[Here is the link to the updated docs](https://github.com/pnp/pnpjs/blob/dev/packages/documentation/getting-started.md#establish-context-with-an-spfx-service)

[2019-11-19 16:59] #869 closed

[2019-11-20 13:58] patrick-rodgers commented on #909
Going to close this as answered. If you are still having issues please open a new issue and reference this one with additional details. Thanks!

[2019-11-20 13:58] #909 closed

[2019-11-20 13:58] patrick-rodgers commented on #912
Going to close this as answered. If you are still having issues please open a new issue and reference this one with additional details. Thanks!

[2019-11-20 13:58] #912 closed

[2019-11-20 18:53] patrick-rodgers commented on #931
Can you share a repo we can clone or a clearer code sample of what you are trying to do? It feels like the issue is with the context. You can also debug and see if the context is pointing to the site you think it is.

[2019-11-20 22:04] dcashpeterson commented on #641
@patrick-rodgers I'm sorry, I got busy. I will have this done hopefully by tomorrow. If you need to pull it back I can submit a PR. I'm working on the documentation now.

[2019-11-20 22:15] luisnjuarez commented on #931
Hi Patrick,
I found the solution in this issue, greatly appreciated

https://github.com/pnp/pnpjs/issues/514

_

_

[2019-11-21 08:58] ValerasNarbutas commented on #633
Hey Patrick,
i did not had time but i do this week and might be next week,
in short - on it :)

[2019-11-21 13:55] patrick-rodgers commented on #931
Awesome, thanks for letting me know. I will close this issue. If you have any further issues please let us know, thanks!

[2019-11-21 13:55] #931 closed

[2019-11-23 15:39] harshdamaniahd opened #936 "Is there a way to get count of items in a view"
is there any rest query that can get me count of items in a list view

[2019-11-23 16:56] kmprasad4u commented on #869
Thanks for the clarification :)

[2019-11-23 19:57] koltyakov commented on #936
Not sure will it work for all the cases but you can try something this way, at least adopt and modify the approach:

[code]

With a view with more items that throttling limit it won't work. Also, if items are located in folders, something else should be used for grouping rather than FileDirRef.

[2019-11-23 20:09] sympmarc commented on #936
You could also just retrieve the ID for all the items and count those rows. Make sure you use $top=5000 to ensure you get all items up to the 5000 item limit). Or, in your ViewQuery, <RowLimit>5000</RowLimit>.

[2019-11-24 00:59] guptarajesh001 opened #937 "Fields of Special Characters SharePoint List is not created"
I have created below function in separate library to create list and its 3 fields in the react project, however, its working with normal character SharePoint list but not with special characters list e.g Employee`~!@#$%^&*()_+=-,.<>?;:"[]{}|. System created special character SharePoint list but don't added three fields and throwing error:

isHttpRequestError: true

response: Response {type: "defau

[2019-11-24 17:09] dcashpeterson commented on #641
@patrick-rodgers I submitted a pull request with the updated documentation.

[2019-11-25 01:36] nsksaisaravana opened #939 "InBatch function to get multiple UserProfile details"
I wonder whether I can batch the filter queries to get multiple user profile details, currently, I don't find InBatch function available for @pnp/sp/profiles

### Category
- [ ] Enhancement
- [ ] Bug
- [ *] Question
- [ ] Documentation gap/issue

[2019-11-25 01:39] nsksaisaravana commented on #939
currently, I am using below method to get the user profile details. How do i convert this to a barch

[code]

[2019-11-25 07:55] koltyakov commented on #939
I'd suggest getting all profiles with search API instead.

[2019-11-25 10:01] PCMacOS opened #940 "Trying to get root site collection navigation (Vanilla JavaScript)"
### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.7]

Please specify what version(s) of SharePoint you are targeting: [Modern O365]

### Question
I'd like to use the getMenuState method to retrieve the navigation of the root site collection.
I use vanilla JavaScript in script tag with j

[2019-11-25 11:24] PCMacOS commented on #940
I find the solution!
Must to be like this: `var nav = new pnp.NavigationService(siteAbsUrl);` and then `nav.getMenuState(null, 5, "CurrentNavigationSwitchableProvider").then(function ...)`

[2019-11-25 11:24] #940 closed

[2019-11-25 14:35] patrick-rodgers commented on #936
Going to close this as answered. Moving forward @harshdamaniahd - general "how do I" questions might be more appropriate for the [Microsoft Tech Community](https://techcommunity.microsoft.com/t5/SharePoint-Developer/bd-p/SharePointDev). Thanks!

[2019-11-25 14:35] #936 closed

[2019-11-25 14:37] patrick-rodgers commented on #937
You haven't included any of the information requested in the issue template and the formatting of the issue makes it quite hard to read. My guess is that you need to escape or otherwise account for characters that are not allowed in SharePoint list names.

[2019-11-25 14:39] patrick-rodgers commented on #939
Hi @nsksaisaravana - it looks like this is answered. Moving forward the [Microsoft Tech Community](https://techcommunity.microsoft.com/t5/SharePoint-Developer/bd-p/SharePointDev) might be a more appropriate "How do I" type questions that are not directly related to this library. Thanks!

[2019-11-25 14:39] #939 closed

[2019-11-26 22:15] PathToSharePoint opened #941 "[V2] Error in IE11: Object doesn't support 'defineProperty'"
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [v2beta]

Please specify what version(s) of SharePoint you are targeting: [2016, online]

### Expected / Desired Behavior / Question
Expected: PnPjs loads in a SP2016 page without error message, in IE11.

### Observed Behavior
I am getting th

[2019-11-27 07:48] Sedor opened #942 "ListItem Update not sending __metadata type in Request Body"
### Category
- [ ] Enhancement
- [x] Bug
- [x] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.6]

Please specify what version(s) of SharePoint you are targeting: [onPrem 2016]

### Expected / Desired Behavior / Question
It should Update an Item in a CustomList after i call sp.web.lists.getByTitle('test').items.getItemByStringId('

[2019-11-27 09:09] koltyakov commented on #942
Hi @Sedor,

It's not a bug.

`getItemByStringId` server the purpose of working with BDC/BCS (external lists) it is not supported with native lists, `getById` should be used instead. For external lists `__metadata` is not required.

[2019-11-27 11:06] Sedor commented on #942
Hey @koltyakov,

Thanks for the fast help !
I tested your suggestion and it's working. I also saw the getItemByStringId description .... Didn't see the BCS part of it there.

Thanks again :)

[2019-11-27 11:06] #942 closed

[2019-11-27 11:34] CPritch commented on #941
#475

IE support was dropped for v2. Stick with V1 if you need to support IE11.

With IE going the way of the Dodo in the near future I agree that it makes sense to fork an IE compatible version. If there's anything that's needed for IE I'm sure the community can band together to implement that rather than expecting pnpjs to maintain IE support.

[2019-11-27 14:34] IGkougkousis opened #943 "Unexpected ItemAddResult when List has column named "value". (@pnp/sp)"
### Category
- [ ] Enhancement
- [x] Bug
- [ ] Question
- [ ] Documentation gap/issue

### Version

Please specify what version of the library you are using: [1.3.6]

Please specify what version(s) of SharePoint you are targeting: [SharePoint Online (16.0.19506.12024)]

### Expected Behavior
The property `data` of `ItemAddResult`  should return the properties of the added list item.

### Observed

[2019-11-27 16:20] arunakshi opened #944 "Updating Primitive Type Properties in User Profile"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

### Category
- [X ] Question

### Version

Please specify what version of the library you are using: [   1.3.7      ]

Please specify what version(s) of SharePoint y

[2019-11-27 16:44] koltyakov commented on #944
Why you are consider this as a bug? The payload and data types should correspond to what is expected with the API. By providing `propertyValue: **any**` you literally taking responsibility for what is passed as a parameter.

[2019-11-27 22:28] PathToSharePoint commented on #941
Fair enough, but if this is the position of the project team the documentation should reflect it.
Currently it says: "our policy moving forward will be doing our best not to break anything in ie11 mode.".
Patrick Rodgers advised me to report my IE11 issue here.